<template>
  <!-- Skeleton -->
  <div class="d-flex justify-content-center flex-column ">

    <skeleton-loading>
      <row>
        <column
          :span="4"
          class="mx-auto">
          <circle-skeleton/>
        </column>
      </row>
    </skeleton-loading>
    <div>
      <skeleton-loading>
        <row>
          <square-skeleton
            :box-properties="{
              top: '32px',
              bottom: '10px',
              height: '500px'
            }"
          />
        </row>
      </skeleton-loading>
    </div>
  </div>

  <!-- Title -->
</template>
<script>
export default {
  name: 'Paso1Skeleton',
};
</script>

<style scoped>
  .circle {
    background: linear-gradient(135deg, #F4F4F4 23.07%, #FFFFFF 40.17%, #F4F4F4 57.28%) !important;
    max-width: 9.6rem;
    max-height: 9.6rem;
    margin-left: auto ;
    margin-right: auto;
  }
</style>
