<template>
  <!-- Skeleton -->
  <skeleton-loading>
    <row>
      <square-skeleton
        :box-properties="{
          top: '10px',
          bottom: '10px',
          height: '400px'
        }"
      />
    </row>
  </skeleton-loading>

  <!-- Title -->
</template>
<script>
export default {
  name: "Paso1Skeleton"
};
</script>
