<template>

  <skeleton-loading class="text-center">
    <row>
      <square-skeleton
        :count="2"
        :box-properties="{
          top: '10px',
          height: '40px',
        }"
      />
    </row>
  </skeleton-loading>
</template>
<script>
export default {
  name: 'TitleSkeleton',
};
</script>
