<template>
  <div>
    <modal-base
      :active="conoceDetalle"
      :modal-info="modalInfo"
      @onClickHandlerToggle="toggle('conoceDetalle')"
    >
      <template slot="content">
        <ul class="list-check">
          <li
            v-for="(item, index) in modalInfo.content.checkList"
            :key="`li${index}`"
            :class="{ tableLi: item === 'table' }"
          >
            <template v-if="item !== 'table'">
              {{ item }}
            </template>
            <template v-else>
              <table
                id="prestacionesTable"
                class="mb-3">
                <thead>
                  <tr class="tHead">
                    <th
                      v-for="(cell, index) in modalInfo.content.prestacionesTable.header"
                      :key="`header${index}`"
                      class="text-normal font-weight-bold"
                    >
                      {{ cell }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(row, index) in modalInfo.content.prestacionesTable.rows"
                    :key="`row${index}`"
                    class="tBody"
                  >
                    <td
                      v-for="(cell, index) in row"
                      :key="`cell${index}`"
                      class="text-smaller">
                      {{ cell }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- Tabla información importante -->
              <div class="px-3">
                <p class="text-normal text-darkGray font-weight-bold mb-4"><img
                  src="https://consorcio.modyocdn.com/uploads/acbb4aa3-0727-4cf4-aa3a-a13bc13d75cc/original/ap-gray-question-mark.svg"
                  class="pb-1 mr-3"
                  alt="Signo de pregunta">Información importante</p>
                <p class="text-smaller font-weight-bold mb-2 lh-100">Deducible</p>
                <p class="text-smaller mb-3">
                  En la cobertura de <strong>Reembolso de Gastos Médicos por Accidente</strong>,
                  cualquier reembolso será posterior al pago de un deducible de <strong>2 UF</strong> por cada accidente, que será siempre de cargo del asegurado.
                </p>
                <p class="text-smaller font-weight-bold mb-2 lh-100">Días de carencia</p>
                <p class="text-smaller mb-3">
                  En la cobertura de
                  <strong>Indemnización Diaria por Hospitalización a causa de un Accidente</strong>, se aplicará un
                  período de carencia de <strong>3 días</strong> tantas veces el asegurado se
                  hospitalice, exceptuando reingresos por causa de un mismo accidente.
                </p>
                <p class="text-smaller font-weight-bold mb-2 lh-100">Máximo días de cobertura</p>
                <p class="text-smaller">
                  En la cobertura de
                  <strong>Indemnización Diaria por Hospitalización a causa de un Accidente</strong>, se pagará la
                  indemnización diaria hasta por un máximo de <strong>10 días</strong>.
                </p>
              </div>
            </template>
          </li>
        </ul>
        <p class="disclaimer">{{ modalInfo.content.disclaimer }}</p>
        <!-- Tabla archivos adjuntos -->
        <div class="fileTableDiv">
          <table id="fileTable">
            <thead>
              <tr class="tHead">
                <th class="text-normal font-weight-bold">
                  {{ modalInfo.content.fileTable.title }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(file, index) in modalInfo.content.fileTable.files"
                :key="`file${index}`"
                class="tBody"
              >
                <td class="text-small d-flex flex-column">
                  <a
                    class="downloadLink file font-weight-bold pb-3"
                    @click="downloadFiles(pol.file.data, 'POL320131562', 'pdf', polUrl)"
                  >{{ file.name }}</a
                  >
                  <a
                    class="downloadLink d-inline-flex flex-row align-items-center"
                    @click="downloadFiles(pol.file.data, 'POL320131562', 'pdf', polUrl)"
                  >
                    <img
                      src="https://consorcio.modyocdn.com/uploads/c89210fc-0ec0-42e7-be8e-e221ac2dbac3/original/onco-green-download.svg"
                      alt="Descarga"
                      class="pr-3"
                    >
                    <span class="text-small text-darkGray">Descargar</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </template>
    </modal-base>
  </div>
</template>

<script>
/* Utils */
import { mapState } from 'vuex';
/* Components */
import ModalBase from '../../partials/ModalBase';
/* Data */
import pol from '../../data/POL320131562.json';

export default {
  name: 'ModalConoceDetalles',
  components: {
    ModalBase,
  },
  props: {
    modalInfo: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    pol,
    polUrl: '',
  }),
  computed: {
    ...mapState('modals', ['conoceDetalle']),
  },
  mounted() {
    this.polUrl = this.createDataUrl(pol.file.data);
  },
};
</script>

<style scoped>
.list-check li {
  margin-bottom: 1.6rem;
}

.tableLi {
  padding: 0 !important;
}

.tableLi::before {
  content: '';
  color: #fff;
}

table {
  width: 100% !important;
}

thead,
tbody {
  background-color: transparent;
}

.tHead {
  color: #657c8d !important;
  background: transparent !important;
  height: 6rem;
  width: 100%;
}

.tHead th {
  background: #869fb233 !important;
}

.tHead th:first-child {
  border-top-left-radius: 5px;
  width: 28%;
}

.tHead th:last-child {
  border-top-right-radius: 5px;
}

.tBody:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.tBody:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.tBody {
  background: transparent;
  color: #657c8d;
  border-bottom: 1px solid #fff;
}

.tBody td {
  background: #f2f6f8 !important;
}

.tBody:last-child {
  border-bottom: 0;
}

.tBody td {
  width: 22%;
}

.tBody td:first-child {
  width: 28%;
  font-weight: 600;
}

#prestacionesTable th,
#prestacionesTable td {
  padding: 1.6rem 0.8rem;
}

#prestacionesTable th:first-child,
#prestacionesTable td:first-child {
  padding: 1.6rem 0.8rem 1.6rem 1.6rem;
}

.disclaimer {
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: justify;
}

.fileTableDiv {
  padding: 2.8rem 0 0 !important;
}

#fileTable th,
#fileTable td {
  padding: 2.8rem;
  width: 100% !important;
}

#fileTable td {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.downloadLink {
  cursor: pointer;
}

.file {
  font-size: 1.8rem;
  color: #657c8d;
}

.text-darkGray {
  color: #657c8d;
}

/* Tabla información importante */
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
</style>
