<template>
  <modal-base
    :active="modalActive"
    :modal-info="modal"
    @onClickHandlerToggle="toggle(modal.name)">
    <template slot="content">
      <ul
        :class="modal.content.type"
        class="text-small text-left">
        <li
          v-for="(item, index) in modal.content.list"
          :key="`listItem-plans_${index}`"
          class="my-lg-4"
          v-html="item"/>
      </ul>
    </template>
  </modal-base>
</template>

<script>
/* Components */
import ModalBase from '../../partials/ModalBase';

export default {
  name: 'ModalPlans',
  components: {
    ModalBase,
  },
  props: {
    modal: {
      type: Object,
      required: false,
      default() {},
    },
  },
  computed: {
    modalActive() {
      return this.$store.state.modals[this.modal.name];
    },
  },
  methods: {
    onClickHandlerToggle() {
      this.$emit('onClickHandlerToggle');
    },
  },
};
</script>

<style scoped>
</style>
