<template>
  <step-layout
    :disabled-btn="!profession"
    :title="title"
    :subtitle="subtitle"
    @on-click-handler="continueTo('Paso4')"
  >
    <template slot="skeleton">
      <skeleton />
    </template>
    <template slot="content">
      <div class="row">
        <div class="col-12 col-md-6">
          <form class="w-100">
            <label class="label">
              <template v-if="profession">
                Actividad o profesión
              </template>
            </label>
            <v-select
              id="profession_input_select"
              ref="vSelectProfession"
              :options="professions"
              v-model="profession"
              :class="{'is-valid': profession}"
              :map-keydown="handlers"
              label="descripcion"
              placeholder="Elige una actividad o profesión"
            >
              <template slot="no-options">
                No encontramos coincidencia para tu búsqueda.
              </template>
              <template v-slot:option="option">
                <span
                  v-html="setValue(option.descripcion)" />
              </template>
            </v-select>
          </form>
        </div>
      </div>
    </template>
  </step-layout>
</template>
<script>
/* Utils */
import { mapState } from 'vuex';
import vSelect from 'vue-select';
/* Components */
import StepLayout from '../../layouts/StepLayout';
import TitlePartial from '../../partials/TitlePartial';
import Skeleton from '../../skeleton/paso1Skeleton';
/* Data */
import professions from '../../data/professions.json';

export default {
  name: 'Paso3A',
  components: {
    TitlePartial,
    StepLayout,
    vSelect,
    Skeleton,
  },
  data: () => ({
    title: '¿Cuál es tu actividad o profesión?',
    subtitle:
        'Para continuar con la contratación de tu seguro <br class="d-none d-sm-block"> debemos conocer tu ocupación principal.',
    professions,
  }),
  computed: {
    profession: {
      get() {
        return this.$store.state.profession;
      },
      set(value) {
        this.SET_VALUE({ name: 'profession', value });
      },
    },
  },
  mounted() {
    this.SET_ACTIVE_STEP(3);
    this.scrollTop();
    this.SET_PREV_PATH('Paso3');
    this.sendTag('sendVirtualPageview', 'actividad');
  },
  methods: {
    jsonMethod(v) {
      return this.strongWorld(v, this.valueof); // create a "proxy" to the outer function
    },
  },
};
</script>
