<template>
  <step-layout
    :disabled-btn="!checkForm"
    :title="title"
    :subtitle="subtitle"
    @on-click-handler="continueTo('Paso3A')"
  >
    <template slot="skeleton">
      <skeleton />
    </template>
    <template slot="content">
      <div class="row">
        <div class="col-12 col-md-6">
          <form class="w-100">
            <!-- Region -->
            <div
              :class="{
                'has-error': errors.has('region'),
                'is-valid':
                  !errors.has('region') &&
                  fields.region &&
                  fields.region.touched &&
                  region,
                'is-initial': fields.region && !fields.region.dirty,
                'is-empty': !region || region == ''
              }"
            >
              <label class="label">
                <template v-if="region && regions">Región</template>
              </label>
              <v-select
                v-validate="'required'"
                id="region_input"
                ref="regionInput"
                v-model="region"
                :options="regions"
                :placeholder="'Región'"
                :disabled="!regions"
                :class="{ 'is-valid' : region }"
                label="glsRegion"
                data-vv-name="region"
              >
                <template slot="no-options">No encontramos coincidencia para tu búsqueda.</template>
              </v-select>
              <div class="small mt-2 loadingBox text-primary-light">
                <template v-if="regionIsLoading">
                  <loader-component />
                </template>
              </div>
            </div>
            <!-- Ciudad -->
            <div
              :class="{
                'has-error': errors.has('ciudad'),
                'is-valid':
                  !errors.has('ciudad') &&
                  fields.ciudad &&
                  fields.ciudad.touched &&
                  city,
                'is-initial': fields.ciudad && !fields.ciudad.dirty,
                'is-empty': !city || city == ''
              }"
            >
              <label class="label">
                <template v-if="city && cities">Ciudad</template>
              </label>
              <v-select
                v-validate="'required'"
                id="city_input"
                ref="cityInput"
                v-model="city"
                :options="cities"
                :placeholder="'Ciudad'"
                :disabled="disabledCityInput"
                :class="{ 'is-valid' : city }"
                label="glsCiudad"
                data-vv-name="ciudad"
              >
                <template slot="no-options">
                  <template v-if="region">No encontramos coincidencia para tu búsqueda.</template>
                  <template v-else>Por favor, selecciona una región.</template>
                </template>
              </v-select>
              <div class="small mt-2 loadingBox text-primary-light">
                <template v-if="citiesIsLoading">
                  <loader-component />
                </template>
              </div>
            </div>
            <!-- Comuna -->
            <div class="">
              <label class="label">
                <template v-if="district && districts">Comuna</template>
              </label>
              <v-select
                v-validate="'required'"
                id="district_input"
                ref="districtInput"
                v-model="district"
                :options="districts"
                :placeholder="'Comuna'"
                :disabled="disabledDistrictInput"
                :class="{ 'is-valid' : district }"
                data-vv-name="comuna"
                label="glsComuna"
                @input="focusAvenueStreet"
              />
              <template slot="no-options">
                <template v-if="city">No encontramos coincidencia para tu búsqueda.</template>
                <template v-else>Por favor, selecciona una ciudad.</template>
              </template>
              <div class="small mt-2 loadingBox text-primary-light">
                <template v-if="districtIsLoading">
                  <loader-component />
                </template>
              </div>
            </div>
            <!-- Calle Avenida -->
            <div
              :class="{
                'has-error': errors.has('calle'),
                'is-valid':
                  !errors.has('calle') &&
                  fields.calle &&
                  fields.calle.touched &&
                  street,
                'is-initial': fields.calle && !fields.calle.dirty,
                'is-empty': !street || street == ''
              }"
              class="form-field mt-20"
            >
              <input
                v-validate="'required'"
                id="input_avenue_street"
                ref="avenueStreetInput"
                :disabled="!district || !cities || !region"
                v-model="street"
                type="text"
                data-vv-name="calle"
                required="required"
                data-vv-validate-on="input|change"
                data-vv-delay="500"
                class="text-capitalize"
              >
              <label
                class="control-label"
                for="input_avenue_street">Calle / Avenida</label>
              <i class="bar" />
              <div class="error-block">
                <small
                  v-if="errors.has('calle')"
                  id="input_avenue_street__error"
                >Por favor, ingresa una dirección válida.</small>
              </div>
            </div>
            <!-- Número y Dpto -->
            <div class="d-flex justify-content-between mt-20">
              <div class="flex-fill pr-2">
                <div
                  :class="{
                    'has-error': errors.has('numero'),
                    'is-valid':
                      !errors.has('numero') &&
                      fields.numero &&
                      fields.numero.touched &&
                      streetNumber,
                    'is-initial': fields.numero && !fields.numero.dirty,
                    'is-empty': !streetNumber || streetNumber == ''
                  }"
                  class="form-field m-0"
                >
                  <input
                    v-validate="'required'"
                    id="input_street_number"
                    v-model="streetNumber"
                    :disabled="!street || !district || !cities || !region"
                    type="number"
                    data-vv-name="numero"
                    required="required"
                  >
                  <label
                    class="control-label m-0"
                    for="input_street_number">Número</label>
                  <i class="bar" />
                  <div class="error-block">
                    <small
                      v-if="errors.has('numero')"
                      id="input_street_number__error"
                    >Por favor, ingresa una número válido.</small>
                  </div>
                </div>
              </div>
              <div class="flex-fill ml-2">
                <div
                  :class="{
                    'has-error': errors.has('casa'),
                    'is-valid':
                      !errors.has('casa') &&
                      fields.casa &&
                      fields.casa.touched &&
                      village,
                    'is-initial': fields.casa && !fields.casa.dirty,
                    'is-empty': !village || village == ''
                  }"
                  class="form-field m-0"
                >
                  <input
                    id="input_village"
                    :disabled="
                      !streetNumber ||
                        !street ||
                        !district ||
                        !cities ||
                        !region
                    "
                    v-model="village"
                    type="text"
                    data-vv-name="casa"
                    required="required"
                  >
                  <label
                    class="control-label m-0"
                    for="input_village">
                    Depto / Casa
                    <span class="d-none d-md-inline">/ Block</span>
                  </label>
                  <i class="bar" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </template>
  </step-layout>
</template>
<script>
// Utils
import { mapState, mapActions, mapGetters } from 'vuex';
import vSelect from 'vue-select';
// Components
import StepLayout from '../../layouts/StepLayout';
import Skeleton from '../../skeleton/paso1Skeleton';
// Partials
import LoaderComponent from '../../partials/Loader';
// Data
// import regions from '../../data/regions';

export default {
  name: 'Paso3A',
  components: {
    StepLayout,
    vSelect,
    Skeleton,
    LoaderComponent,
  },
  data: () => ({
    title: '¿En qué lugar vives?',
    subtitle:
      'Para continuar con la contratación de tu seguro <br class="d-none d-sm-block"> debemos conocer dónde vives.',
    regionIsLoading: false,
    citiesIsLoading: false,
    districtIsLoading: false,
    disabledDistrictInput: true,
    disabledCityInput: true,
  }),
  computed: {
    ...mapState(['client']),
    ...mapGetters(['regions', 'cities', 'districts']),
    street: {
      get() {
        return this.$store.state.street;
      },
      set(value) {
        this.SET_VALUE({ name: 'street', value });
      },
    },
    village: {
      get() {
        return this.$store.state.village;
      },
      set(value) {
        this.SET_VALUE({ name: 'village', value });
      },
    },
    streetNumber: {
      get() {
        return this.$store.state.streetNumber;
      },
      set(value) {
        this.SET_VALUE({ name: 'streetNumber', value: parseInt(value, 10) });
      },
    },
    region: {
      get() {
        return this.$store.state.region;
      },
      set(value) {
        this.SET_VALUE({ name: 'region', value });
      },
    },
    city: {
      get() {
        return this.$store.state.city;
      },
      set(value) {
        this.SET_VALUE({ name: 'city', value });
      },
    },
    district: {
      get() {
        return this.$store.state.district;
      },
      set(value) {
        this.SET_VALUE({ name: 'district', value });
      },
    },
    checkForm() {
      const validation =
        this.$validator.errors.items.length === 0 &&
        this.region &&
        this.city &&
        this.district &&
        this.street &&
        this.streetNumber;
      return validation;
    },
  },
  watch: {
    region() {
      this.cleanData();
      this.getCities();
    },
    city() {
      this.SET_VALUE({ name: 'districts', value: [] });
      this.SET_VALUE({ name: 'district', value: null });
      this.getDistricts();
    },
  },
  mounted() {
    this.scrollTop();
    this.cleanInitialData();
    this.SET_ACTIVE_STEP(3);
    this.SET_PREV_PATH('Paso2');
    this.sendTag('sendVirtualPageview', 'direccion');
  },
  methods: {
    ...mapActions(['GET_CITIES', 'GET_DISTRICTS']),
    getCities() {
      this.cleanData();
      if (this.region !== null && this.region.codRegion) {
        this.citiesIsLoading = true;
        this.GET_CITIES(this.region.codRegion).then((res) => {
          if (!res) {
            this.showError(2);
          }
          this.citiesIsLoading = false;
          this.disabledCityInput = false;
          if (this.region.codRegion === '13') {
            this.SET_VALUE({ name: 'city', value: this.cities[0] });
          }
        });
      }
    },
    getDistricts() {
      this.SET_VALUE({ name: 'district', value: null });
      if (this.city) {
        this.districtIsLoading = true;
        this.GET_DISTRICTS(this.city.codCiudad).then((res) => {
          if (!res) {
            this.showError(2);
          }
          this.districtIsLoading = false;
          this.disabledDistrictInput = false;
          // this.$refs.districtInput.$el.querySelector('input').focus();
        });
      }
    },
    cleanData() {
      this.SET_VALUE({ name: 'city', value: null });
      this.SET_VALUE({ name: 'district', value: null });
      this.SET_VALUE({ name: 'cities', value: [] });
      this.SET_VALUE({ name: 'districts', value: [] });
    },
    cleanInitialData() {
      this.SET_VALUE({ name: 'region', value: null });
      this.cleanData();
    },
    focusAvenueStreet() {
      this.$refs.avenueStreetInput.focus();
    },
  },
};
</script>

<style lang="css" scoped >
.v-select {
  text-transform: capitalize;
}
.loadingBox {
  min-height: 2.5rem;
  padding-left: 1rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.control-label {
  margin-bottom: 5px;
}

.mt-20 {
  margin-top: 20px;
}
</style>

