<template>
  <step-layout
    :disabled-btn="!checkForm"
    :title="title"
    @on-click-handler="onClickHandler"
  >
    <template slot="skeleton">
      <div class="row">
        <div class="col-10 col-lg-12">
          <skeleton />
        </div>
      </div>
    </template>
    <template slot="content">
      <div class="row">
        <div class="col-10 col-md-6">
          <form class="mb-0">
            <!-- Rut -->
            <div
              :class="{
                'has-error': errors.has('rut'),
                'is-valid':
                  !errors.has('rut') && fields.rut && fields.rut.dirty,
                'is-initial': fields.rut && !fields.rut.dirty,
                'is-empty': !rut || rut == ''
              }"
              class="form-field"
            >
              <input
                v-validate="'required|rut|min:8'"
                v-mask="['#.###.###-X', '##.###.###-X']"
                id="input_rut"
                v-model="rut"
                :readonly="getPersonIsLoading"
                data-vv-validate-on="input|change"
                data-vv-as="Rut"
                name="rut"
                type="text"
                data-vv-name="rut"
                data-vv-delay="500"
              >
              <label
                class="control-label m-0 text-capitalize"
                for="input_rut"
              >Rut</label
              >
              <i class="bar" />
              <div class="error-block">
                <small
                  v-if="errors.has('rut')"
                  id="input_rut__error">
                  Por favor, ingresa un RUT válido.
                </small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </template>
  </step-layout>
</template>
<script>
/* Utils */
import { mapActions } from 'vuex';
/* Components */
import StepLayout from '../../layouts/StepLayout';
import Skeleton from '../../skeleton/paso1Skeleton';

export default {
  name: 'Paso1',
  components: {
    StepLayout,
    Skeleton,
  },
  data: () => ({
    title: '¿Cuál es tu RUT?',
    getPersonIsLoading: false,
  }),
  computed: {
    rut: {
      get() {
        return this.$store.state.rut;
      },
      set(value) {
        this.SET_VALUE({ name: 'rut', value });
      },
    },
    checkForm() {
      return !this.errors.has('rut') && this.rut.length;
    },
  },
  mounted() {
    this.SET_ACTIVE_STEP(1);
    this.scrollTop();
    this.sendTag('sendVirtualPageview', 'ingresa_RUT');
    this.loadInitialData();
  },
  methods: {
    ...mapActions([
      'GET_PERSON',
      'GET_INDICATORS',
      'GET_PRICING',
    ]),
    onClickHandler() {
      if (!this.errors.has('RUT')) {
        this.TOGGLE_LOADER();
        this.isLoadingPerson = true;
        this.validateForm();
      }
    },
    validateForm() {
      this.$validator.validateAll().then((result) => {
        if (!result) {
          this.cleanForm();
          this.TOGGLE_LOADER();
        } else {
          const rut = this.rut.replace(/\./g, '');
          this.getPerson(rut);
        }
      });
    },
    getPerson(rut) {
      this.GET_PERSON(rut)
        .then((status) => {
          if (status !== 404 && status !== 200) {
            this.cleanForm();
            this.TOGGLE_LOADER();
            this.showError(2);
          } else if (status === 404) {
            this.cleanForm();
            this.TOGGLE_LOADER();
            this.showError(1);
          } else {
            this.TOGGLE_LOADER();
            this.continueTo('Paso1A');
          }
        })
        .catch((e) => {
          console.error(e);
          this.showError(2);
        });
    },
    cleanForm() {
      this.rut = '';
      this.SET_VALUE({ name: 'rut', value: this.rut });
      this.SET_VALUE({ name: 'client', value: {} });
    },
    getIndicators() {
      this.GET_INDICATORS().then((status) => {
        if (status !== 200) {
          this.showError(2);
        }
      });
    },
    getPricing() {
      this.GET_PRICING().then((status) => {
        if (status !== 200) {
          this.showError(2);
        }
      });
    },
    loadInitialData() {
      this.getIndicators();
      this.getPricing();
    },
  },
};
</script>
