<template>
  <step-layout
    :disabled-btn="!enableButton"
    :title="title"
    :subtitle="subtitle"
    @on-click-handler="continueTo('Paso2')"
  >
    <template slot="content">
      <!-- Content -->
      <div class="row">
        <div class="col-11 col-md-6">
          <!-- Formulario -->
          <form class="mb-0">
            <!-- Email -->
            <div
              :class="{
                'has-error': errors.has('email'),
                'is-valid':
                  !errors.has('email') && fields.email && fields.email.touched,
                'is-initial': fields.email && !fields.email.dirty,
                'is-empty': !email || email == ''
              }"
              class="form-field mb-32"
            >
              <input
                v-validate="'required|email'"
                id="email-input"
                v-model="email"
                :disabled="!client"
                data-vv-validate-on="blur|input"
                name="email"
                type="email"
                data-vv-name="email"
                data-vv-delay="500"
              >
              <label
                for="email-input"
                class="text-capitalize m-0"
              >Correo Electrónico</label
              >
              <i class="bar" />
              <div class="error-block">
                <small
                  v-if="errors.has('email')"
                  id="email-input-error">
                  Por favor, ingresa un correo electrónico válido
                </small>
              </div>
            </div>
            <!-- Teléfono -->
            <div
              :class="{
                'has-error': errors.has('telefono'),
                'is-valid':
                  !errors.has('telefono') &&
                  fields.telefono &&
                  fields.telefono.touched,
                'is-initial': fields.telefono && !fields.telefono.dirty,
                'is-empty':
                  !telephone || telephone == ''
              }"
              class="form-field mb-32"
            >
              <input
                v-validate="{ required: true, regex: /^(\+56)? ?9 ?[1-9][0-9]{3} ?[0-9]{4}$/, min: 15 }"
                v-mask="['+56 # #### ####']"
                id="telefono-input"
                v-model="telephone"
                :disabled="!client"
                data-vv-validate-on="blur|input"
                name="telefono"
                type="text"
                data-vv-name="telefono"
                autocomplete="off"
              >
              <label
                for="telefono-input"
                class="text-capitalize m-0"
              >Teléfono Móvil</label
              >
              <i class="bar" />
              <div class="error-block">
                <small
                  v-if="errors.has('telefono')"
                  id="telefono-input-error"
                >
                  Por favor, ingresa un número de teléfono móvil válido
                </small>
              </div>
            </div>
            <!-- Declaración Acepta Uso de información personal -->
            <p class="warning text-smaller mb-0">
              Podríamos contactarte por correo electrónico y/o por teléfono para
              asesorarte o enviarte documentos relacionados al producto que
              estás cotizando.
            </p>
          </form>
        </div>
      </div>
    </template>
  </step-layout>
</template>

<script>
/* Utils */
import { mapState, mapMutations } from 'vuex';
/* Components */
import StepLayout from '../../layouts/StepLayout';
import TitlePartial from '../../partials/TitlePartial';
import TermsConditions from '../../partials/TermsConditions';

export default {
  name: 'Paso1C',
  components: {
    TitlePartial,
    StepLayout,
    TermsConditions,
  },
  data: () => ({
    title: '¿Me indicas tus datos de contacto?',
    subtitle:
        'Si avanzas con la contratación, usaremos tu correo electrónico para enviarte la propuesta y la póliza.',
  }),
  computed: {
    ...mapState(['client', 'authorizations']),
    email: {
      get() {
        return this.$store.state.contactInfo.email;
      },
      set(value) {
        this.SET_VALUE({ name: 'contactInfo', param: 'email', value });
      },
    },
    telephone: {
      get() {
        return this.$store.state.contactInfo.telephone;
      },
      set(value) {
        this.SET_VALUE({ name: 'contactInfo', param: 'telephone', value });
      },
    },
    isFormValid() {
      return (
        this.$validator.errors.items.length === 0 &&
        this.email !== null && this.telephone !== null
      );
    },
    enableButton() {
      return this.isFormValid;
    },
  },
  mounted() {
    this.SET_ACTIVE_STEP(1);
    this.scrollTop();
    this.SET_PREV_PATH('Paso1');
    this.sendTag('sendVirtualPageview', 'datos_contacto');
  },
  methods: {
    ...mapMutations(['SET_VALUE']),
  },
};
</script>

<style scoped>
  /* PLACEHOLDER */
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  ::placeholder {
    color: #bdbdbd;
    font-size: 1.4rem;
    opacity: 1; /* Firefox */
  }

  /* Internet Explorer 10-11 */
  :-ms-input-placeholder {
    color: #bdbdbd;
    font-size: 1.4rem;
  }

  /* Microsoft Edge */
  ::-ms-input-placeholder {
    color: #bdbdbd;
    font-size: 1.4rem;
  }

  .warning {
    background-color: #fafbfd;
    border-radius: 5px;
    color: #003da5;
    padding: 2.4rem;
  }
</style>
