<template>
  <step-layout
    :disabled-btn="!nationality"
    :title="title"
    :subtitle="subtitle"
    @on-click-handler="continueTo('Paso1C')">
    <template slot="content">
      <!-- Content -->
      <div class="row">
        <div class="col-12 col-md-6">
          <form class="w-100 mb-0">
            <!-- <label for="nationality_input_select">Nacionalidad</label> -->
            <v-select
              id="nationality_input_select"
              :options="nationalities"
              v-model="nationality"
              :class="{'is-valid': nationality}"
              :map-keydown="handlers"
              label="descripcion"
              placeholder="Nacionalidad"
            >
              <template slot="no-options">
                Nacionalidad no encontrada.
              </template>
              <template v-slot:option="option">
                <!-- <span v-html="setValue(option.descripcion)" /> -->
                <span
                  v-html="setValue(option.descripcion)" />
              </template>
            </v-select>
          </form>
        </div>
      </div>
    </template>
  </step-layout>
</template>

<script>
import vSelect from 'vue-select';
// Components
import StepLayout from '../../layouts/StepLayout';
// Data
import nationalities from '../../data/nationalities.json';

export default {
  name: 'Paso1B',
  components: {
    StepLayout,
    vSelect,
  },
  data: () => ({
    title: '¿Cuál es tu nacionalidad?',
    subtitle: 'Necesitamos completar algunos detalles para poder continuar.',
    nationalities,
  }),
  computed: {
    nationality: {
      get() {
        return this.$store.state.nationality;
      },
      set(value) {
        this.SET_VALUE({ name: 'nationality', value });
      },
    },
  },
  mounted() {
    this.SET_ACTIVE_STEP(1);
    this.scrollTop();
    this.SET_PREV_PATH('Paso1');
    this.sendTag('sendVirtualPageview', 'nacionalidad');
  },
};
</script>
