<template>
  <step-layout
    :title="title"
    :subtitle="subtitle">
    <template slot="content">
      <!-- Content -->
      <div class="row">
        <div class="col-12 col-md-11 col-lg-7">
          <user-box>
            <template slot="button">
              <button
                :disabled="!client.fullName.length"
                class="btn btn-success btn-cta btn-block btn-lg-inline"
                @click.prevent="getNationality">Sí, soy yo</button>
            </template>
          </user-box>
        </div>
      </div>
    </template>
    <template slot="btnSlot">
      <div class="d-flex flex-column flex-md-row justify-content-center pt-48 text-center">
        <p
          class="mr-md-2 px-auto"
          v-html="userText"/>
        <button
          class="btn btn-link m-0 pt-0 text-underline"
          @click.prevent="reset">
          Cambiar información
        </button>
      </div>
    </template>
  </step-layout>
</template>
<script>
/* Utils */
import { mapState, mapGetters } from 'vuex';
/* Components */
import StepLayout from '../../layouts/StepLayout';
import UserBox from '../../components/UserBox';

export default {
  name: 'Paso1A',
  components: {
    StepLayout,
    UserBox,
  },
  data: () => ({
    subtitle:
        ' Si la información es incorrecta, <br> los precios de tu seguro pueden variar.',
  }),
  computed: {
    ...mapState(['client']),
    ...mapGetters(['name']),
    title() {
      return `¿Eres tú, ${this.name}?`;
    },
    userText() {
      return `¿No eres ${this.name}?`;
    },
  },
  mounted() {
    this.scrollTop();
    this.SET_PREV_PATH('Paso1');
    this.sendTag('sendVirtualPageview', 'confirma_RUT');
  },
  methods: {
    getNationality() {
      // Si es extranjero
      if (this.client.foreign) {
        this.$router.push({
          name: 'Paso1B',
        });
        return;
      }
      // Si es chileno
      this.SET_VALUE({
        name: 'nationality',
        value: {
          descripcion: 'Chilena',
          id: 1,
        },
      });
      this.$router.push({
        name: 'Paso1C',
      });
    },
    reset() {
      this.SET_VALUE({ name: 'rut', value: '' });
      this.$router.push({
        name: 'Paso1',
      });
    },
  },
};
</script>
