        <button
          class=" d-none btn btn-primary text-small ml-md-24 text-left btn-block btn-md-inline d-flex flex-row justify-content-start align-items-center flex-fill"
          type="button"
          @click="
            downloadFiles(
              proposalSeguro.file.data,
              'Propuesta-Seguro-Accidentes-Personales',
              'pdf',
              proposalUrl,
              'downloadProposalIsOK'
            )
          "
        >
          <template v-if="downloadProposalIsOK">
            <img
              src="https://consorcio.modyocdn.com/uploads/838bb3df-a0eb-495f-a456-0b0d7b376106/original/check.svg"
              alt="Visto bueno"
              class="mr-3"
            >
          </template>
          <template v-else>
            <img
              src="https://consorcio.modyocdn.com/uploads/9e55068c-6c65-47e9-8423-4fb66cb24536/original/onco-white-dowload.svg"
              alt="Descarga de documento"
              class="mr-3"
            >
          </template>
          Descarga Propuesta del Seguro
        </button>