<template>
  <step-layout>
    <template slot="content">
      <div class="row">
        <div class="col-12 col-md-11 col-lg-8">
          <div class="d-flex flex-column justify-content-start align-items-center">
            <h2
              class="title text-center mb-40"
              v-html="title"/>
            <img
              :src="successIcon"
              alt="success"
              class="icon mb-5" >
          </div>
          <hr class="my-0">
          <!-- Content -->
          <div class="row">
            <div class="col-md-9">
              <div class="d-flex flex-row justify-content-left align-items-start py-32">
                <div class="ml-4 ml-md-0 mr-md-4">
                  <img
                    :src="mailIcon"
                    alt="mail"
                    class="subIcon" >
                </div>
                <div class="d-flex flex-column ml-32 ml-md-72">
                  <span class="subtitle pb-3 flex-fill">{{ emailTitle }}</span>
                  <p class="text-small text-md-normal">
                    Enviaremos a tu correo <strong class="d-md-none">{{
                      textTruncate(email)
                    }}</strong>
                    <strong class="d-md-inline d-none">
                    {{ email }}</strong> la propuesta de seguro que suscribiste.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-0">
          <div class="row">
            <div class="col-md-9">
              <div class="d-flex flex-row justify-content-left align-items-start py-32">
                <div class="ml-4 ml-md-0 mr-md-4">
                  <img
                    :src="shoesIcon"
                    alt="shoes"
                    class="subIcon" >
                </div>
                <div class="d-flex flex-column ml-32 ml-md-72">
                  <span class="subtitle pb-3">
                    {{ nextStepTitle }}
                  </span>
                  <div class="pb-4 verticalLine paddingLeft">
                    <div class="rounded-circle bg-success text-center circle steps">1</div>
                    <span class="text-small text-md-normal">{{ nextStep1 }}</span>
                  </div>
                  <div class="pb-4 verticalLine paddingLeft">
                    <div class="rounded-circle bg-success text-center circle steps">2</div>
                    <span class="text-small text-md-normal">{{ nextStep2 }}</span>
                  </div>
                  <div class="verticalLineBottom paddingLeft">
                    <div class="rounded-circle bg-success text-center circle steps">3</div>
                    <span class="text-small text-md-normal">{{ nextStep3 }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="my-0">
        </div>
      </div>
    </template>
    <template slot="btnSlot">
      <div class="d-flex justify-content-center pt-40">
        <button
          class="btnExito btn btn-outline-primary"
          @click.prevent="goHome">
          Ir a la Home
        </button>
      </div>
    </template>
  </step-layout>
</template>

<script>
import { mapState } from 'vuex';
// Components
import StepLayout from '../layouts/StepLayout';
import Skeleton from '../skeleton/paso2Skeleton';

export default {
  name: 'Exito',
  components: {
    Skeleton,
    StepLayout,
  },
  data: () => ({
    subtitle: '',
    title: 'Has finalizado con éxito la contratación de tu seguro',
    emailTitle: '¡Revisa tu correo!',
    emailDescription: 'Enviaremos a tu e-mail la propuesta de seguro que suscribiste.',
    nextStepTitle: 'Próximos pasos',
    nextStep1: 'Validaremos los antecedentes que nos has enviado.',
    nextStep2: 'Una vez confirmados, generaremos la póliza de seguro que dará cuenta del inicio de la cobertura.',
    nextStep3: 'Recibirás tu póliza de seguro en tu correo.',
    shoesIcon: 'https://consorcio.modyocdn.com/uploads/a5de1edd-3a0a-4281-be35-569372d1a2dc/original/onco_shoes.svg',
    successIcon: 'https://consorcio.modyocdn.com/uploads/f01ccc24-05ee-48a3-b6b7-a9badefd523e/original/onco_success.svg',
    mailIcon: 'https://consorcio.modyocdn.com/uploads/dad0dcd0-9ea7-42cd-8ccc-f4a599f7b965/original/onco_email.svg',
  }),
  computed: {
    ...mapState(['email']),
  },
  mounted() {
    this.scrollTop();
    this.sendTag('sendVirtualPageview', 'fin_contratacion');
  },
  methods: {
    textTruncate(email) {
      const emailString = email.split('@');
      const ending = `...@${emailString[1]}`;

      if (email.length > 18) {
        return email.substring(0, 18 - ending.length) + ending;
      }
      return email;
    },
  },
};
</script>

<style scoped>
.icon {
  height: 96px;
  width: 96px;
}

.subIcon {
  height: 42px;
  width: 42px;
}

.title {
  font-size: 2.4rem;
}

.subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 124%;
}
.circle {
  color:#FFFFFF;
  height:25px;
  width:25px;
}
.steps {
  position: absolute;
  margin-left: -34px;
  font-size: 12px;
  padding-top: 4px;
}
.verticalLine {
  border-left-style: solid;
  border-left-color: #84BD00;
}
.verticalLineBottom {
  border-left-style: solid;
  border-left-color: #ffffff;
}
.paddingLeft {
 padding-left: 20px;
}

.btnExito {
  width: 22.5rem;
  height: 5.6rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.8rem;
  }

  .ml-md-72 {
    margin-left: 7.2rem;
  }
}
</style>

