<template>
  <step-layout
    :disabled-btn="!authorizations.aceptaTerminosYPropuesta"
    :title="title"
    :subtitle="subtitle"
    :button-label="'Contratar'"
    @on-click-handler="goTo"
  >
    <template slot="skeleton">
      <div class="row">
        <div class="col-9 col-md-12">
          <skeleton />
        </div>
      </div>
    </template>
    <template slot="content">
      <div class="row">
        <div class="col-12 col-md-8">
          <!-- Resumen -->
          <div class="summary">
            <!-- Resumen Datos Cliente -->
            <summary-table
              :content="tableInfo1"
              class="mb-2" />
            <!-- Resumen Plan -->
            <summary-table class="mb-2">
              <template slot="customTable">
                <div
                  class="d-flex flex-column justify-content-center"
                >
                  <div class="frame">
                    <h5 class="font-weight-bold">{{ tableInfo2.title }}</h5>
                    <!-- Plan Info -->
                    <div class="d-flex flex-row justify-content-between">
                      <div
                        v-for="(title, index) in tableInfo2.planInfo.headings"
                        :key="`title${index}`"
                        :class="{
                          'pl-3 pl-md-5': index === 1,
                        }"
                        class="w-50 border-bottom"
                      >
                        <h6
                          class="featTitle font-weight-bold text-normal text-primary">
                          {{ title }}
                        </h6>
                      </div>
                    </div>
                    <!-- Features -->
                    <div
                      v-for="(feat, index) in tableInfo2.planInfo.features"
                      :key="`feat${index}`"
                      :class="{'border-bottom': index !== tableInfo2.planInfo.features.length - 1}"
                      class="d-flex flex-row align-items-center">
                      <div
                        :class="index === tableInfo2.planInfo.features.length - 1 ? 'pt-3' : 'py-3'"
                        class="w-50"
                      >
                        <p
                          class="font-weight-bold text-small mb-0"
                          v-html="feat.title" />
                      </div>
                      <div
                        class="w-50 pl-3 pl-md-5"
                      >
                        <p
                          class="text-small mb-0"
                          v-html="formatNumber(feat.description)"/>
                      </div>
                    </div>
                  </div>
                  <!-- Prima -->
                  <div
                    class="d-flex flex-row justify-content-between border-top frame"
                  >
                    <div
                      v-for="(cell, index) in tableInfo2.cells"
                      :key="`cell${index}`"
                      :class="{
                        'pl-3 pl-md-5': index === 1,
                      }"
                      class="w-50"
                    >
                      <h6
                        class="font-weight-bold text-normal text-primary">
                        {{ cell.heading }}
                      </h6>
                      <p
                        :class="index === 0 ? 'text-big' : 'text-small'"
                        class="text-gray mb-0"
                        v-html="cell.description" />
                    </div>
                  </div>
                </div>
              </template>
            </summary-table>
            <!-- Resumen Medio de pago -->
            <summary-table :content="tableInfo3" />
          </div>
          <!-- Descarga de documentos -->
          <p class="pb-3 mb-0 text-center">
            Debes descargar y revisar el documento adjunto para continuar con el proceso de
            contratación.
          </p>
          <div class="d-flex flex-row justify-content-start pb-5 border-bottom">
            <button
              class="btnCaract btn btn-primary text-small text-left btn-md-inline d-flex flex-row justify-content-center align-items-start"
              type="button"
              @click="
                downloadFiles(
                  caracteristicasSeguro.file.data,
                  'Caracteristicas-Seguro-Accidentes-Personales',
                  'pdf',
                  conditionsUrl,
                  'downloadTermsIsOK'
                )
              "
            >
              <template v-if="downloadTermsIsOK">
                <img
                  src="https://consorcio.modyocdn.com/uploads/838bb3df-a0eb-495f-a456-0b0d7b376106/original/check.svg"
                  alt="Visto bueno"
                  class="icon mr-3 h-100"
                >
              </template>
              <template v-else>
                <img
                  src="https://consorcio.modyocdn.com/uploads/9e55068c-6c65-47e9-8423-4fb66cb24536/original/onco-white-dowload.svg"
                  alt="Descarga de documento"
                  class="mr-3"
                >
              </template>
              Descargar características del seguro
            </button>
          </div>
          <!-- Declaración Acepta Documentos  -->
          <terms-conditions
            :active-check="downloadTermsIsOK"
            :statement="statementReadDocuments"
            model="aceptaTerminosYPropuesta"
            class="pt-32"
          />
          <!-- Declaración Acepta Uso de información personal -->
          <terms-conditions
            :active-check="true"
            :statement="statementPersonalInfo"
            :modal="modalPersonalInfo"
            button-label="Ver Autorización"
            model="aceptaUsoInfoPersonal"
            class="pt-4"
          />
        </div>
      </div>
    </template>
  </step-layout>
</template>

<script>
/* Utils */
import { mapState, mapMutations } from 'vuex';
import sendProposal from '../mixins/sendProposal';
/* Components */
import StepLayout from '../layouts/StepLayout';
import TitlePartial from '../partials/TitlePartial';
import SummaryTable from '../partials/SummaryTable';
import TermsConditions from '../partials/TermsConditions';
import Skeleton from '../skeleton/ExitoSkeleton';

/* Data */
import caracteristicasSeguro from '../data/caracteristicas-ap.json';

export default {
  name: 'Paso5',
  components: {
    TitlePartial,
    StepLayout,
    SummaryTable,
    TermsConditions,
    Skeleton,
  },
  mixins: [sendProposal],
  data: () => ({
    caracteristicasSeguro,
    title: 'Revisa tu propuesta de seguro',
    subtitle: 'Te recordamos que las coberturas del Seguro Accidentes Personales comenzarán a regir una vez emitida la póliza de seguro.',
    tableInfo1: {
      rows: [
        {
          title: 'Contratante y Asegurable',
          cells: [
            {
              heading: 'Nombre',
              description: '',
            },
            {
              heading: 'RUT',
              description: '',
            },
          ],
        },
        {
          cells: [
            {
              heading: 'Teléfono móvil',
              description: '',
            },
            {
              heading: 'Correo electrónico',
              description: '',
            },
          ],
        },
      ],
    },
    tableInfo2: {
      title: 'Plan de Seguro',
      planInfo: {
        headings: ['Coberturas', 'Capital asegurado (UF)'],
        features: [],
      },
      cells: [
        {
          heading: 'Prima mensual',
          description: '',
        },
        {
          heading: 'Vigencia',
          description: 'Anual renovable',
        },
      ],
    },
    tableInfo3: {
      rows: [
        {
          title: 'Medio de Pago',
          cells: [
            {
              heading: 'Tarjeta de crédito',
              description: '',
            },
            {
              heading: 'Banco emisor',
              description: '',
            },
          ],
        },
      ],
    },
    statementReadDocuments:
      'Declaro haber descargado, leído y aceptado las características, coberturas y exclusiones del Seguro Accidentes Personales Consorcio.',
    conditionsUrl: '',
    proposalUrl: '',
    statementPersonalInfo:
        'Declaro conocer y aceptar los términos y condiciones del uso de mis datos e información personal.',
    modalPersonalInfo: {
      buttonLabel: 'Ver Términos y Condiciones',
      modalName: 'terminosInfoPersonal',
      modalInfo: {
        title: 'Autorización',
        subtitle: 'Para uso y tratamiento de datos personales',
        img:
            'https://consorcio.modyocdn.com/uploads/e17605bc-5217-4799-ac88-748f068d1893/original/icon_document_blue.svg',
        description: [
          'El Cliente otorga autorización a las compañías de seguros, corredora de bolsa, banco y demás empresas pertenecientes al grupo Consorcio Financiero S.A. (las Empresas) a que se recopile toda información, antecedentes y datos de carácter personal suministrados en este acto o durante la vigencia de cualquiera de los productos contratados con ellas, autorizando y aceptando expresamente la transmisión y almacenamiento de los mismos en Chile como en el extranjero, incluidos aquellos sujetos a secreto o reserva bancaria. Asimismo, autoriza a realizar todos los actos entre dichas compañías que sean necesarios para transmitir, comunicar, compartir, almacenar, conservar, procesar, modificar, actualizar, así como todo otro acto regulado en la Ley 19.628 y demás normativa vigente, para el adecuado cumplimiento de los siguientes propósitos:',
          'Enviar a la dirección física, correo electrónico y/o número de telefonía móvil, todos aquellos antecedentes relacionados con los productos contratados y cualquier otro tipo de información comercial y/o promocional sobre cualquier producto o servicio ofrecido al público, sea con el propósito de informarlo, con el fin de poder conocerlos, acceder a sus condiciones objetivas, precios y tarifas, consultar sobre sus características relevantes, cotizarlos y/o contratarlos con cualquiera de las Empresas.',
          'El Cliente se compromete a mantener los datos actualizados y exactos, como también a informar de modificaciones respecto a la información relativa a ella, tan pronto como sea posible.',
          'El Cliente podrá revocar en cualquier tiempo la autorización precedentemente otorgada, en su sitio privado de internet o por los demás medios de atención a clientes dispuestos por las Empresas.',
        ],
      },
    },
  }),
  computed: {
    ...mapState([
      'client',
      'rut',
      'contactInfo',
      'monthlyPremium',
      'plans',
      'termsAndConditions',
      'insuranceProposal',
      'authorizations',
      'selectedPlan',
      'primaMensualUF',
      'datosPago',
      'planesInfo',
      'downloadTermsIsOK',
    ]),
    summaryTable1() {
      const { fullName } = this.client;
      const { email, telephone } = this.contactInfo;
      return {
        name: this.capitalize(fullName),
        rut: this.rut,
        telephone,
        email,
      };
    },
    summaryTable2() {
      const { content } = this.planesInfo[this.selectedPlan];
      return {
        monthlyFee: `${this.UfToString(this.primaMensualUF)} UF IVA Incluido`,
        content,
      };
    },
    summaryTable3() {
      const {
        numeroTarjeta, bancoEmisor, tipoTarjeta, srcImgTipoTarjeta,
      } = this.datosPago;
      return {
        numeroTarjeta,
        bancoEmisor,
        tipoTarjeta,
        srcImgTipoTarjeta,
      };
    },
  },
  mounted() {
    this.SET_ACTIVE_STEP(5);
    this.scrollTop();
    this.SET_PREV_PATH('Paso4');
    this.sendTag('sendVirtualPageview', 'propuesta');
    this.conditionsUrl = this.createDataUrl(caracteristicasSeguro.file.data);
    this.setTablesInfo();
  },
  methods: {
    ...mapMutations(['SET_VALUE']),
    capitalize(str) {
      return str
        .toLowerCase()
        .split(' ')
        .map(word => word.charAt(0).toUpperCase() + word.substring(1))
        .join(' ');
    },
    formatRut(rut) {
      let body = rut.slice(0, -2);
      const dv = rut.slice(-1).toUpperCase();

      const reverseBody = body
        .split('')
        .reverse()
        .join('')
        .match(/.{1,3}/g)
        .join('.');

      body = reverseBody
        .split('')
        .reverse()
        .join('');

      return `${body}-${dv}`;
    },
    formatCreditCard(cardNumber) {
      return `XXXX - XXXX - XXXX - ${cardNumber.slice(-4)}`;
    },
    setTablesInfo() {
      /* Datos contratante */
      this.tableInfo1.rows[0].cells[0].description = this.summaryTable1.name;
      this.tableInfo1.rows[0].cells[1].description = this.summaryTable1.rut;
      this.tableInfo1.rows[1].cells[0].description = this.summaryTable1.telephone;
      this.tableInfo1.rows[1].cells[1].description = this.summaryTable1.email;
      /* Plan */
      this.tableInfo2.planInfo.features = this.summaryTable2.content;
      this.tableInfo2.cells[0].description = this.summaryTable2.monthlyFee;
      /* Medio de pago */
      this.tableInfo3.rows[0].cells[0].description = `${this.formatCreditCard(this.summaryTable3.numeroTarjeta)}<br>
        <span class="pt-2">${this.capitalize(this.summaryTable3.tipoTarjeta)}</span><br>
        <img src="${this.summaryTable3.srcImgTipoTarjeta}" class="pt-2">
      `;
      this.tableInfo3.rows[0].cells[1].description = this.summaryTable3.bancoEmisor.descripcion;
    },
    goTo() {
      this.sendContractSigned();
    },
  },
};
</script>

<style scoped>
.summary {
  padding-bottom: 4rem;
}

.icon {
  width: 2.2rem;
}

.featTitle {
  color: #657C8D !important;
}

@media (min-width: 768px) {
  .btnCaract {
    width: 31.2rem;
    height: 4rem;
    padding: 0.8rem;
  }

  .ml-md-24 {
    margin-left: 2.4rem;
  }
}
</style>
