<template>
  <step-layout :title="title">
    <template slot="skeleton">
      <skeleton />
    </template>
    <template slot="content">
      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-center">
            <template v-for="(plan, index) in plans">
              <!-- Desktop -->
              <price-card
                :key="`card${index}`"
                :header-text="plan.title"
                :class="{'mb-4': index !== 'plan1500'}"
                display="d-flex"
                class="gutter mb-md-4"
              >
                <template slot="cardBody">
                  <p class="priceTag mb-2">${{ convertUFToCLP(plan.feeUF) }}</p>
                  <p class="lh-100 text-big mb-0">
                    <strong>UF {{ UfToString(plan.feeUF) }}</strong> mensuales
                  </p>
                </template>
                <template slot="cardFeatures">
                  <div class="d-none d-md-block p-4">
                    <div
                      v-for="(feat, j) in plansInfo[plan.name].coverage"
                      :key="`feat${j}`"
                    >
                      <p
                        class="featDescription lh-100 text-left text-md-center text-small font-weight-semibold"
                        v-html=" feat.description"/>
                      <p class="featValue lh-100 text-left text-md-center mb-0">{{ feat.value }} UF</p>
                      <hr v-if="j !== plansInfo[plan.name].coverage.length - 1" >
                    </div>
                  </div>
                </template>
                <template slot="cardFeaturesMobile">
                  <div class="d-block d-md-none px-4">
                    <template
                      v-for="(featM, k) in plansInfo[plan.name].coverage"
                    >
                      <!-- Main feature -->
                      <div
                        v-if="k === 0"
                        :key="`featM_${k}`"
                        class="py-3 border-top">
                        <p
                          class="featDescription lh-100 text-left text-md-center text-small font-weight-semibold"
                          v-html=" featM.description"/>
                        <p class="featValue lh-100 text-left text-md-center mb-0">{{ featM.value }} UF</p>
                      </div>
                      <!-- Collapse -->
                      <div
                        v-if="k !== 0"
                        :id="`multiCollapseFeat${index}`"
                        :key="`featM_${k}`"
                        :class="`multi-collapse${index}`"
                        class="collapse multi-collapse py-3 border-top">
                        <p
                          class="featDescription
                          lh-100 text-left
                          text-md-center text-small font-weight-semibold"
                          v-html=" featM.description"/>
                        <p class="featValue lh-100 text-left text-md-center mb-0">{{ featM.value }} UF</p>
                      </div>
                    </template>
                    <div
                      :id="`multiCollapse${index}`"
                      :class="`multi-collapse${index}`"
                      class="collapse pt-16 pb-32">
                      <transparent-button
                        text="Ver detalles"
                        @onClickHandlerToggle="toggle(plan.modal.name)"
                      />
                    </div>
                  </div>
                </template>
                <!-- Footer -->
                <template slot="cardFooter">
                  <!-- Desktop -->
                  <div class="d-none d-md-block bg-grey">
                    <btn-call-action
                      :disabled="!client.fullName"
                      text="Solicitar plan"
                      size="smallBtn"
                      class="rounded text-normal"
                      @onClickHandlerCall="next(plan.name)"
                    />
                    <transparent-button
                      :text="'Ver detalles'"
                      class="pt-32"
                      @onClickHandlerToggle="toggle(plan.modal.name)"
                    />
                  </div>
                  <!-- Mobile -->
                  <div class="d-flex d-md-none flex-row justify-content-between align-items-center">
                    <button
                      :data-target="`.multi-collapse${index}`"
                      :aria-controls="`multiCollapseFeat${index} multiCollapse${index}`"
                      class="btn btn-ap-primary mr-3 w-50 px-2"
                      type="button"
                      data-toggle="collapse"
                      aria-expanded="false"
                      @click="isCollapseActive = !isCollapseActive">
                      <div class="d-flex flex-row justify-content-between align-items-center">
                        <span
                          v-if="!isCollapseActive"
                          class="text-small">Detalles</span>
                        <span
                          v-if="isCollapseActive"
                          class="text-small">Ocultar</span>
                        <i class="arrow"/>
                      </div>
                    </button>
                    <button
                      :disabled="!client.fullName"
                      class="btn btn-success ml-3 w-50 text-small"
                      type="button"
                      @click="next(plan.name)">Solicitar</button>
                  </div>
                  <modal-plans
                    v-if="plan.modal"
                    :modal="plan.modal"
                    text="Ver detalles"
                    @onClickHandlerToggle="toggle(plan.modal.name)"
                  />
                </template>
              </price-card>
            </template>
          </div>
        </div>
      </div>
    </template>
    <template slot="btnSlot">
      <div class="text-center mt-4">
        <p
          v-for="(p, index) in disclaimer"
          :key="`disclaimer${index}`"
          class="text-small mb-0"
        >{{ p }}</p>
      </div>
    </template>
  </step-layout>
</template>
<script>
/* Utils */
import { mapState, mapActions } from 'vuex';
/* Components */
import StepLayout from '../layouts/StepLayout';
import TitlePartial from '../partials/TitlePartial';
import PriceCard from '../partials/PriceCard';
import BtnCallAction from '../partials/ButtonCallToAction';
import Skeleton from '../skeleton/paso2Skeleton';
import TransparentButton from '../partials/TransparentButton';
import ModalPlans from '../components/Modals/ModalPlans';

export default {
  name: 'Paso2',
  components: {
    TitlePartial,
    Skeleton,
    StepLayout,
    PriceCard,
    BtnCallAction,
    TransparentButton,
    ModalPlans,
  },
  data: () => ({
    disclaimer: [
      'Prima del seguro se determina en UF con IVA incluido, se mantiene fija durante la vigencia',
      'del seguro, y se calcula según el plan de coberturas elegido en la contratación.',
      'Valor referencial en $ utilizando la UF del día.',
    ],
    plansInfo: {
      plan500: {
        coverage: [
          { description: 'Muerte Accidental', value: '500' },
          { description: 'Incapacidad Permanente 2/3', value: '500' },
          { description: 'Reembolso de Gastos <br> Médicos por Accidente', value: '100' },
          {
            description:
              'Indemnización Diaria por <br class="d-none d-lg-block"> Hospitalización a causa de un Accidente',
            value: '6',
          },
        ],

      },
      plan1000: {
        coverage: [
          { description: 'Muerte Accidental', value: '1.000' },
          { description: 'Incapacidad Permanente 2/3', value: '1.000' },
          { description: 'Reembolso de Gastos <br> Médicos por Accidente', value: '100' },
          {
            description:
              'Indemnización Diaria por <br class="d-none d-lg-block"> Hospitalización a causa de un Accidente',
            value: '6',
          },
        ],
      },
      plan1500: {
        coverage: [
          { description: 'Muerte Accidental', value: '1.500' },
          { description: 'Incapacidad Permanente 2/3', value: '1.500' },
          { description: 'Reembolso de Gastos <br> Médicos por Accidente', value: '100' },
          {
            description:
              'Indemnización Diaria por <br class="d-none d-lg-block"> Hospitalización a causa de un Accidente',
            value: '6',
          },
        ],
      },
    },
    isCollapseActive: false,
  }),
  computed: {
    ...mapState(['productName', 'client', 'plans', 'contactInfo', 'rut']),
    title() {
      return 'Elige el mejor plan para ti';
    },
  },
  mounted() {
    this.scrollTop();
    this.SET_ACTIVE_STEP(2);
    this.SET_PREV_PATH('Paso1C');
    this.sendTag('sendVirtualPageview', 'plan_seguro');
    this.sendContactInformation();
  },
  methods: {
    ...mapActions(['SEND_CONTACT_INFORMATION']),
    setSelectedPlan(plan) {
      const { feeCLP, feeUF } = this.plans[plan];

      this.SET_VALUE({ name: 'selectedPlan', value: plan });
      this.SET_VALUE({ name: 'primaMensualUF', value: feeUF });
      this.SET_VALUE({ name: 'primaMensualCLP', value: feeCLP });
    },
    next(selectedPlan) {
      this.setSelectedPlan(selectedPlan);
      this.sendTag(`contratar_${selectedPlan}`);
      this.continueTo('Paso3');
    },
    sendContactInformation() {
      const { telephone, email } = this.contactInfo;

      const payload = {
        rut: this.rut,
        telefono: telephone.replace(/ /g, ''),
        email,
      };
      this.SEND_CONTACT_INFORMATION(payload);
    },
  },
};
</script>

<style scoped>
.featValue {
  font-size: 2.4rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .gutter {
    flex: 1;
    max-width: 32%;
  }

  .featValue {
    font-size: 2.4rem;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .gutter {
    flex: 1;
    max-width: 35rem;
  }
}
</style>
