<template>
  <step-layout
    :disabled-btn="!authorizations.aceptaTerminosYPat"
    :title="title"
    :subtitle="subtitle"
    @on-click-handler="goTo"
  >
    <template slot="content">
      <div class="row">
        <div class="col-12 col-md-6">
          <!-- Warning -->
          <warning-box
            class="mb-32"
            text="No haremos ningún cargo a tu tarjeta de crédito hasta no emitir la póliza de tu seguro." />
          <!-- Formulario -->
          <form class="w-100 mb-0">
            <!-- Número de Tarjeta de Crédito   -->
            <div>
              <label
                for="onco_numero_tarjeta_paso_5"
                class="control-label m-0 label"
              >{{ labelNumeroTarjeta }}</label>
              <div
                :class="{
                  'has-error':
                    (errors.has('numeroTarjeta') || errors.has('tipoTarjeta')) &&
                    fields.numeroTarjetaGrupo1.dirty &&
                    fields.numeroTarjetaGrupo2.dirty &&
                    fields.numeroTarjetaGrupo3.dirty &&
                    fields.numeroTarjetaGrupo4.dirty,
                  'is-valid':
                    !errors.has('numeroTarjeta') &&
                    !errors.has('tipoTarjeta') &&
                    numeroTarjetaFull.length > 12,
                  'is-initial':
                    fields.numeroTarjetaFull &&
                    !fields.numeroTarjetaGrupo1.touched &&
                    !fields.numeroTarjetaGrupo2.touched &&
                    !fields.numeroTarjetaGrupo3.touched &&
                    !fields.numeroTarjetaGrupo4.touched,
                  'is-empty': !numeroTarjetaFull || numeroTarjetaFull == ''
                }"
                class="form-field credit-card has-placeholder"
              >
                <div class="d-flex flex-row align-items-baseline">
                  <div class="d-flex flex-column pt-2">
                    <div class="d-inline-flex flex-row align-items-center">
                      <input
                        v-validate="'required|numeric|length:4'"
                        id="onco_numero_tarjeta_paso_5_grupo_1"
                        ref="numeroTarjeta_grupo1"
                        v-model="numeroTarjeta.grupo1"
                        data-vv-name="numeroTarjetaGrupo1"
                        maxlength="4"
                        name="numeroTarjetaGrupo1"
                        type="tel"
                        required
                        placeholder
                        class="text-center mx-0"
                        autocomplete="off"
                        @keydown="validarTeclasPermitidas"
                        @keyup="handleInputsCreditCard"
                      >
                      <span class="point">●</span>
                      <input
                        v-validate="'required|numeric|length:4'"
                        id="onco_numero_tarjeta_paso_5_grupo_2"
                        ref="numeroTarjeta_grupo2"
                        v-model="numeroTarjeta.grupo2"
                        data-vv-name="numeroTarjetaGrupo2"
                        maxlength="4"
                        name="numeroTarjetaGrupo2"
                        type="tel"
                        required
                        placeholder
                        class="text-center mx-0"
                        autocomplete="off"
                        @keydown="validarTeclasPermitidas"
                        @keyup="handleInputsCreditCard"
                      >
                      <span class="point">●</span>
                      <input
                        v-validate="'required|numeric|length:4'"
                        id="onco_numero_tarjeta_paso_5_grupo_3"
                        ref="numeroTarjeta_grupo3"
                        v-model="numeroTarjeta.grupo3"
                        data-vv-name="numeroTarjetaGrupo3"
                        maxlength="4"
                        name="numeroTarjetaGrupo3"
                        type="tel"
                        required
                        placeholder
                        class="text-center mx-0"
                        autocomplete="off"
                        @keydown="validarTeclasPermitidas"
                        @keyup="handleInputsCreditCard"
                      >
                      <span class="point">●</span>
                      <input
                        v-validate="'required|numeric|length:4'"
                        id="onco_numero_tarjeta_paso_5_grupo_4"
                        ref="numeroTarjeta_grupo4"
                        v-model="numeroTarjeta.grupo4"
                        data-vv-name="numeroTarjetaGrupo4"
                        maxlength="4"
                        name="numeroTarjetaGrupo4"
                        type="tel"
                        required
                        placeholder
                        class="text-center mx-0"
                        autocomplete="off"
                        @keydown="validarTeclasPermitidas"
                        @keyup="handleInputsCreditCard"
                      >
                    </div>
                    <i class="bar" />
                    <div class="error-block">
                      <div>
                        <template v-if="errors.has('numeroTarjeta') && validarErrores">
                          <small
                            id="onco_numero_tarjeta_paso_5_error"
                          >El número de la tarjeta de crédito no es válido</small>
                        </template>
                        <template v-else-if="errors.has('tipoTarjeta')">
                          <small id="onco_tipo_tarjeta_paso_5_error">Lamentablemente no aceptamos esta tarjeta de crédito</small>
                        </template>
                      </div>
                    </div>
                  </div>
                  <i class="credit-card-img w-25 pl-3">
                    <img :src="cardBrandSrc" >
                  </i>
                </div>
                <input
                  v-validate="'required|credit_card|min:12'"
                  ref="hidden"
                  v-model="numeroTarjetaFull"
                  data-vv-as="Número de Tarjeta"
                  data-vv-validate-on="input|change"
                  data-vv-name="numeroTarjeta"
                  type="hidden"
                  name="numeroTarjetaFull"
                >
              </div>
            </div>
            <!-- Fecha de expiración  -->
            <div>
              <label
                for="onco_fecha_expiracion_paso_5"
                class="control-label m-0 label"
              >
                {{ labelFechaExpiracion }}</label>
              <div class="d-flex flex-row justify-content-between justify-content-lg-start align-items-end mt-2">
                <input
                  v-validate="`required|date_format:mm/yy|date_between:${currentMonth}/${currentYear},12/${futureYear}`"
                  v-mask="['##/##']"
                  id="apv-vida_paso-5_rut-card-exp"
                  ref="cardExpInput"
                  v-model="cardExpiry"
                  name="card_exp_field"
                  data-vv-name="card_exp_field"
                  data-vv-validate-on="change|input"
                  data-vv-as="fecha expiración"
                  placeholder="__/__"
                  class
                  required
                  type="hidden"
                  @change="sendCardExpiry"
                >
                <div class="mw75 flex-fill fill-lg-none">
                  <small class="text-black-50">
                    <template v-if="mesExpiracionValue">
                      Mes
                    </template>
                  </small>
                  <v-select
                    v-validate="`required|between:${initMonth},12`"
                    id="onco_paso_5_mes_expiracion"
                    ref="mesExpiracionInput"
                    v-model="mesExpiracionValue"
                    :class="{
                      'is-valid':
                        !errors.has('mesExpiracionInput') && mesExpiracionValue
                    }"
                    :options="listaMeses"
                    data-vv-name="mesExpiracionInput"
                    data-vv-as="Mes Expiración"
                    data-vv-validate-on="input|change|blur"
                    name="mesExpiracionInput"
                    type="number"
                    placeholder="Mes"
                    @input="setFechaExpiracion"
                  >
                    <template
                      v-slot:selected-option="option"
                    >{{ option.label.toString().padStart(2, "0") }}</template>
                    <template v-slot:option="option">{{ option.label.toString().padStart(2, "0") }}</template>
                    <template slot="no-options">No encontramos coincidencia para tu búsqueda.</template>
                  </v-select>
                </div>
                <span class="dateDivider pt-3 px-2 flex-fill fill-lg-none text-center">/</span>
                <div class="mw75 flex-fill fill-lg-none">
                  <small class="text-black-50 pl-2">
                    <template v-if="anioExpiracionValue">
                      Año
                    </template>
                  </small>
                  <v-select
                    v-validate="'required:true'"
                    id="onco_paso_5_anio_expiracion"
                    ref="anioExpiracionInput"
                    :class="{
                      'is-valid':
                        !errors.has('anioExpiracionInput') && anioExpiracionValue
                    }"
                    :options="listaAnio"
                    v-model="anioExpiracionValue"
                    data-vv-name="anioExpiracionInput"
                    data-vv-as="Año Expiración"
                    data-vv-validate-on="input|change|blur"
                    name="anioExpiracionInput"
                    placeholder="Año"
                    @input="setFechaExpiracion"
                  >
                    <template slot="no-options">No encontramos coincidencia para tu búsqueda.</template>
                  </v-select>
                </div>
              </div>
              <div class="error-block">
                <template
                  v-if="errors.has('mesExpiracionInput') && fields.anioExpiracionInput.dirty && fields.mesExpiracionInput.dirty"
                  id="onco_paso_5_anio_expiracion">
                  <div class="form-field">
                    <small>La tarjeta de crédito ya expiró</small>
                  </div>
                </template>
              </div>
            </div>
            <!-- Banco Emisor  -->
            <div>
              <label
                for="onco_banco_emisor_paso_5"
                class="control-label m-0 label"
              >
                <template v-if="bancoEmisorValue">
                  {{ labelBancoEmisor }}
                </template>
              </label>
              <div class="d-flex mt-2 mb-32">
                <v-select
                  v-validate="'required:true'"
                  id="onco_paso_5_banco_emisor"
                  ref="cardBankInput"
                  v-model="bancoEmisorValue"
                  :disabled="loadingBancos"
                  :placeholder="'Selecciona tu banco'"
                  :class="{
                    'is-valid':
                      !errors.has('card_bank_name_field') && bancoEmisorValue
                  }"
                  :options="listaBancos"
                  label="descripcion"
                  data-vv-name="bancoEmisor"
                  data-vv-as="Banco Emisor"
                  data-vv-validate-on="input|change|blur"
                  name="bancoEmisor"
                  class="w-100"
                  @input="setBancoEmisor"
                />
                <template slot="no-options">No encontramos coincidencia para tu búsqueda.</template>
              </div>
            </div>
            <!-- Declaración Términos y Condiciones -->
            <terms-conditions
              :active-check="checkForm"
              :statement="statement"
              :modal="modal"
              button-label="Términos y Condiciones Mandato"
              model="aceptaTerminosYPat"
            >
              <template slot="contentModal">
                <ul class="text-small h6-lg mt-3 list-unstyled">
                  <li
                    v-for="(list, index) in modalList"
                    :key="`list-terminos-${index}`">
                    <div class="row">
                      <div class="col-1 font-weight-bold pr-0 mr-0">{{ index + 1 }}.</div>
                      <div class="col pl-0 ml-0">{{ list }}</div>
                    </div>
                  </li>
                </ul>
              </template>
            </terms-conditions>
          </form>
        </div>
      </div>
    </template>
  </step-layout>
</template>

<script>
/* eslint-disable no-plusplus */
/* Utils */
import { mapState, mapActions } from 'vuex';
import creditCardType from 'credit-card-type';
import vSelect from 'vue-select';
import Vue from 'vue'
// Components
import StepLayout from '../layouts/StepLayout';
import TermsConditions from '../partials/TermsConditions';
import WarningBox from '../partials/WarningBox';

export default {
  name: 'Paso4',
  components: {
    StepLayout,
    TermsConditions,
    vSelect,
    WarningBox,
  },
  data: () => ({
    title: 'Completa los datos de tu pago',
    subtitle:
      'Cargaremos a tu tarjeta de crédito el cobro mensual del seguro  <br class="d-none d-xl-block"> mediante Pago Automático con Tarjeta de Crédito.',
    labelNumeroTarjeta: 'Número de Tarjeta de Crédito',
    labelFechaExpiracion: 'Fecha de Expiración',
    labelBancoEmisor: 'Banco Emisor',
    statement:
      'Declaro ser titular de la tarjeta de crédito con la cual autorizo el pago de las primas de este seguro y acepto los Términos y Condiciones de este mandato de pago.',
    numeroTarjeta: {
      grupo1: '',
      grupo2: '',
      grupo3: '',
      grupo4: '',
    },
    $cardFormat: Vue.prototype.$cardFormat,
    cardBrand: 'unknown',
    cardExpiry: ' ',
    cardBrandClass: '',
    availableCardBrands: ['visa', 'mastercard', 'american-express'],
    loadingBancos: true,
    bancoEmisorValue: undefined,
    listaBancos: [],
    mesExpiracionValue: undefined,
    anioExpiracionValue: undefined,
    listaMeses: _.range(1, 13),
    listaAnio: [],
    formValid: false,
    enableTerms: false,
    acceptTerms: false,
    modal: {
      modalName: 'modalMandatoPago',
      modalInfo: {
        title: 'Términos y Condiciones',
        subtitle:
          'Mandato de autorización de descuento en Tarjeta de Crédito (PAT)',
        img:
          'https://consorcio.modyocdn.com/uploads/e17605bc-5217-4799-ac88-748f068d1893/original/icon_document_blue.svg',
        description:
          'El Cliente otorga autorización a las compañías de seguros, corredora de bolsa, banco y demás Empresas pertenecientes al grupo Consorcio Financiero S.A. a que se recopile toda información, antecedentes y datos de carácter personal suministrados en este acto o durante la vigencia de cualquiera de los productos contratados con ellos, autorizando y aceptando expresamente la transmisión y almacenamiento de los mismos en Chile como en el extranjero, incluidos aquellos sujetos a secreto o reserva bancaria. Asimismo, a realizar todos los actos entre dichas compañías que sean necesarios para transmitir, comunicar, compartir, almacenar, conservar, procesar, modificar, actualizar, así como todo otro acto regulado en la Ley 19.628, para el adecuado cumplimiento de los siguientes propósitos: Enviar a la dirección física, correo electrónico y/o número de telefonía móvil, todos aquellos antecedentes relacionados con los productos contratados y cualquier otro tipo de información comercial y/o promocional sobre cualquier producto o servicio ofrecido al público, sea con el propósito de informarlo, con el fin de poder conocerlos, acceder a sus condiciones objetivas, precios y tarifas, consultar sobre sus características relevantes, cotizarlos y/o contratarlos por cualquiera de las Empresas pertenecientes al Grupo Consorcio Financiero S.A. El Cliente se compromete a mantener los datos actualizados y exactos, como también a informar de modificaciones respecto a la información relativa a ella, tan pronto como sea posible.',
      },
      content: true,
    },
    modalList: [
      'Declaro como contratante de este seguro, ser titular de la tarjeta de crédito informada para efectos del presente mandato.',
      'Como contratante de este seguro otorgo mandato mercantil e instruyo al “Banco” y/o a la “Administradora de Tarjetas de Crédito”, para que pague a Compañía de Seguros de Vida Consorcio Nacional de Seguros S.A. RUT: 99.012.000-5, el monto de las primas, impuestos u otros cobros asociados al mismo.',
      'El mandato comienza a regir desde su otorgamiento en la fecha de esta propuesta, y se mantendrá vigente mientras no termine la póliza.',
      'Entiendo que el presente mandato afecta al conjunto de pólizas y renovaciones celebradas con la Compañía durante la vigencia de éste; y autoriza a que las primas de dichas pólizas se paguen mediante la modalidad PAT, es decir, Autorización de Descuento en Tarjeta de Crédito. El monto de la prima, su forma y modalidad de pago, se encuentran insertas en las condiciones particulares de cada póliza.',
      'Acepto que el día de Cargo de las primas en la tarjeta de crédito se realizará los días 20 de cada mes.',
      'Acepto que la Compañía queda exenta de cualquier responsabilidad, salvo en la entrega de información para los cobros respectivos.',
      'Entiendo que si cualquiera de las primas no fuera pagada, debo procurar el pago directamente a la Compañía, facultando a ésta a efectuar nuevos procesos de cobro en otras fechas durante el respectivo mes o bien al mes siguiente.',
      'El presente mandato tiene como límite de pago el monto de la prima según lo indicado en la póliza contratada.',
      'El mandato expira por cierre de la Tarjeta de Crédito o revocación. En caso de reemplazo de la Tarjeta de Crédito, faculto a la Compañía para que efectúe el cargo en la nueva tarjeta que la sustituya o reemplace.',
    ],
  }),
  computed: {
    ...mapState(['datosPago', 'authorizations']),
    ...mapState('modals', ['modalMandatoPago']),
    numeroTarjetaFull() {
      return (
        this.numeroTarjeta.grupo1 +
        this.numeroTarjeta.grupo2 +
        this.numeroTarjeta.grupo3 +
        this.numeroTarjeta.grupo4
      );
    },
    currentYear() {
      return Number(moment().format('YY'));
    },
    futureYear() {
      return Number(moment().format('YY')) + 20;
    },
    currentMonth() {
      const month = Number(moment().format('MM'));
      if (month > 9) {
        return month;
      }
      return `0${month}`;
    },
    FullYear() {
      return this.anioExpiracionValue + 2000;
    },
    cardBrandSrc() {
      return this.cardBrandClass;
    },
    validarErrores() {
      return (
        this.numeroTarjeta.grupo1.length === 4 &&
        this.numeroTarjeta.grupo2.length === 4 &&
        this.numeroTarjeta.grupo3.length === 4 &&
        this.numeroTarjeta.grupo4.length === 4
      );
    },
    checkForm() {
      return (
        !this.errors.any() &&
        this.datosPago.numeroTarjeta !== '' &&
        this.cardExpiry !== '' &&
        this.datosPago.bancoEmisor !== {}
      );
    },
    initMonth() {
      return this.FullYear === moment().year() ? moment().month() + 2 : 1;
    },
  },
  watch: {
    checkForm() {
      this.$validator.validateAll().then(() => {
        const haveErrors = this.errors.any();
        if (haveErrors) {
          this.authorizations.aceptaTerminosYPat = false;
        }
      });
    },
    numeroTarjetaFull() {
      this.$validator.validate('numeroTarjeta').then(() => {
        if (
          !this.errors.has('numeroTarjeta') &&
          this.$cardFormat.validateCardNumber(this.numeroTarjetaFull)
        ) {
          this.validarBrandClass();
          this.saveDatosPago();
        } else {
          this.cleanDatosPago();
        }

        if (this.numeroTarjetaFull.length > 3) {
          const typeCard = creditCardType(this.numeroTarjetaFull);
          if (typeCard.length > 0) {
            this.cardBrand = typeCard[0].type;
            this.setBrandClass(this.cardBrand);
          }
        } else {
          this.cardBrand = 'unknow';
          this.setBrandClass(this.cardBrand);
        }
      });
    },
  },
  created() {
    this.loadingBancos = true;
    this.GET_BANK_LIST().then((data) => {
      this.loadingBancos = false;
      this.listaBancos = data;
    });
    this.fillListaAnio();
  },
  mounted() {
    this.scrollTop();
    this.sendTag('sendVirtualPageview', 'medio_pago');
    this.SET_ACTIVE_STEP(4);
    this.SET_PREV_PATH('Paso3A');
  },
  methods: {
    ...mapActions(['GET_BANK_LIST']),
    saveDatosPago() {
      this.SET_VALUE({
        name: 'datosPago',
        param: 'numeroTarjeta',
        value: this.numeroTarjetaFull,
      });
      this.SET_VALUE({
        name: 'datosPago',
        param: 'tipoTarjeta',
        value: this.cardBrand,
      });
      this.SET_VALUE({
        name: 'datosPago',
        param: 'srcImgTipoTarjeta',
        value: this.cardBrandClass,
      });
    },
    cleanDatosPago() {
      this.SET_VALUE({
        name: 'datosPago',
        param: 'numeroTarjeta',
        value: null,
      });
      this.SET_VALUE({
        name: 'datosPago',
        param: 'tipoTarjeta',
        value: null,
      });
      this.SET_VALUE({
        name: 'datosPago',
        param: 'srcImgTipoTarjeta',
        value: null,
      });
    },
    validarTeclasPermitidas(e) {
      if (
        !(
          e.keyCode === 9 || // tab
          e.keyCode === 8 || // eliminar
          e.keyCode === 37 || // flecha
          e.keyCode === 39 || // flecha
          e.keyCode === 46 || // suprimir
          (e.keyCode >= 48 && e.keyCode <= 57) || // 0-9
          (e.keyCode >= 96 && e.keyCode <= 105)
        ) // 0-9
      ) {
        e.preventDefault();
      }
    },
    handleInputsCreditCard(e) {
      if (
        e.srcElement.value.length === 4 &&
        e.keyCode !== 8 &&
        e.keyCode !== 46 &&
        e.keyCode !== 37 &&
        e.keyCode !== 39
      ) {
        switch (e.srcElement.name) {
          case 'numeroTarjetaGrupo1':
            this.$refs.numeroTarjeta_grupo2.focus();
            break;
          case 'numeroTarjetaGrupo2':
            this.$refs.numeroTarjeta_grupo3.focus();
            break;
          case 'numeroTarjetaGrupo3':
            this.$refs.numeroTarjeta_grupo4.focus();
            break;
          case 'numeroTarjetaGrupo4':
            this.$refs.numeroTarjeta_grupo4.blur();
            break;
          default:
            break;
        }
      } else if (e.srcElement.value.length === 0 && e.keyCode === 8) {
        switch (e.srcElement.name) {
          case 'numeroTarjetaGrupo4':
            this.$refs.numeroTarjeta_grupo3.focus();
            break;
          case 'numeroTarjetaGrupo3':
            this.$refs.numeroTarjeta_grupo2.focus();
            break;
          case 'numeroTarjetaGrupo2':
            this.$refs.numeroTarjeta_grupo1.focus();
            break;
          default:
            break;
        }
      }
    },
    validarBrandClass() {
      const resultValidate =
        this.availableCardBrands.find(element => element === this.cardBrand) !==
        undefined;
      if (!resultValidate) {
        this.errors.add({
          field: 'tipoTarjeta',
          msg: 'Tipo de Tarjeta no soportado',
          id: 999,
        });
      } else {
        this.errors.removeById(999);
      }
      return resultValidate;
    },
    setBrandClass(brand) {
      let icon = '';
      const cardBrandToClass = {
        visa:
          'https://consorcio.modyocdn.com/uploads/127e7c4e-b6f9-4bad-9ad0-4a64613e06aa/original/visa_card.svg',
        mastercard:
          'https://consorcio.modyocdn.com/uploads/10b6fc06-8e69-4c86-ab0e-1e7477712a72/original/master_card.svg',
        'american-express':
          'https://consorcio.modyocdn.com/uploads/8a21784a-1b79-43a2-bfd6-149f7e3bbf87/original/america_express_card.svg',
        unknown:
          'https://consorcio.modyocdn.com/uploads/8895f358-abd6-4b19-b4ff-08d3d6e5a6d0/original/credit_card.svg',
      };

      if (cardBrandToClass[brand]) {
        icon = cardBrandToClass[brand];
      } else if (this.numeroTarjetaFull === '') {
        icon = '';
      } else {
        icon = cardBrandToClass.unknown;
      }

      this.cardBrandClass = icon;
    },
    setBancoEmisor() {
      this.SET_VALUE({
        name: 'datosPago',
        param: 'bancoEmisor',
        value: this.bancoEmisorValue,
      });
    },
    setFechaExpiracion() {
      const mes = this.mesExpiracionValue.toString().padStart(2, '0');
      this.cardExpiry = `${mes}${this.anioExpiracionValue}`;
      this.SET_VALUE({
        name: 'datosPago',
        param: 'mesExpiracion',
        value: mes,
      });
      this.SET_VALUE({
        name: 'datosPago',
        param: 'anioExpiracion',
        value: this.anioExpiracionValue,
      });
      this.sendCardExpiry();
    },
    sendCardExpiry() {
      if (!this.errors.has('card_exp_date')) {
        this.SET_VALUE({
          name: 'datosPago',
          param: 'fechaExpiracion',
          value: this.cardExpiry,
        });
      }
    },
    fillListaAnio() {
      this.listaAnio = [];
      let anioInicio = moment().format('YY');
      anioInicio = moment().month() === 11 ? anioInicio + 1 : anioInicio;
      this.listaAnio = _.range(Number(anioInicio), Number(anioInicio) + 21);
    },
    goTo() {
      this.$validator.validateAll().then(() => {
        if (!this.errors.any()) {
          this.sendTag('activa_PAT');
          this.continueTo('Paso5');
        }
      });
    },
  },
};
</script>

<style scoped>
.label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Gray 2 */
  color: #4f4f4f;
}

.icon-info {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #3da4c9;
}

.point {
  font-size: x-small;
  color: #c4c4c4;
}

.dateDivider {
  padding-top: 6px;
  font-size: x-large;
  color: #d9d9d6;
}
/* #onco_paso_5_mes_expiracion {
        padding-left: 15px;
      } */
.mw75 {
  min-width: 80px;
}
div .col-xs span {
  font-size: x-small;
  color: #c4c4c4;
}

.form-field input {
  margin-left: 1rem;
}
.form-field input,
.form-field textarea {
  width: 25%;
}
</style>

