<template>
  <div
    id="banner-titulo"
    :class="bgBanner"
    class="banner">
    <div class="container-md container-fluid">
      <div class="row">
        <div class="col-12 col-lg-10 col-xl-12">
          <div class="row">
            <!-- Botón Volver -->
            <template v-if="!isExito">
              <div class="d-none d-md-block col">
                <div class="d-flex flex-row align-items-center h-100">
                  <back-button
                    class="text-center d-none d-md-inline" />
                </div>
              </div>
            </template>
            <div
              :class="isExito ? 'col-md-8' : 'col-md-10'"
              class="col-12 h-100 px-4 px-md-0">
              <div
                :class="setBannerStyle()"
                class="d-flex flex-row align-items-center mobileBanner">
                <img
                  :src="bannerInfo.logo"
                  :alt="bannerInfo.altLogo"
                  :class="setIconSize()"
                  class="icon" >
                <div class="pl-3 pl-lg-55">
                  <h1
                    :class="setFontStyle()"
                    class="font-weight-bold mb-0">{{ bannerInfo.title }}</h1>
                  <btn-conoce-detalle v-if="!isExito" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Conoce Detalle del Seguro -->
    <modal-conoce-detalles :modal-info="modalInfo" />
  </div>
</template>

<script>
/* Components */
import BackButton from '../partials/BackButton';
import BtnConoceDetalle from '../partials/BtnConoceDetalle';
import ModalConoceDetalles from './Modals/ModalConoceDetalles';
/* Data */
import modalInfo from '../data/modalConoceDetalles.json';

export default {
  name: 'BannerTitulo',
  components: {
    BackButton,
    BtnConoceDetalle,
    ModalConoceDetalles,
  },
  props: {
    bgBanner: {
      type: String,
      required: true,
    },
    bannerInfo: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    modalInfo,
  }),
  computed: {
    isPaso1() {
      return this.$route.path === '/paso-1';
    },
  },
  methods: {
    setBannerStyle() {
      if (this.isPaso1 || this.isExito) {
        return this.isExito ? 'bigBanner justify-content-center' : 'bigBanner justify-content-start';
      }
      return 'smallBanner';
    },
    setIconSize() {
      if (this.isPaso1 || this.isExito) {
        return 'bigIcon';
      }
      return 'smallIcon';
    },
    setFontStyle() {
      if (this.isPaso1 || this.isExito) {
        return this.isExito ? 'bigTitle' : 'bigTitle mb-md-3';
      }
      return 'smallTitle';
    },
  },
};
</script>

<style scoped>
  .banner {
    height: 7rem;
    border-bottom: 1px solid #e9ecef;
  }

  .mobileBanner {
    height: 7rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .icon {
    height: 3.6rem;
  }

  @media (min-width: 768px) {
    .banner {
      height: auto;
      border-bottom: 1px solid #e9ecef;
    }

    h1 {
      font-size: 3.2rem;
    }

    .pl-lg-55 {
      padding-left: 5.5rem !important;
    }

    .bigIcon {
      height: 6.4rem;
      transition: height 1s ease-out;
    }

    .smallIcon {
      height: 4.8rem;
      transition: height 1s ease-out;
    }

    .bigBanner {
      height: 12.8rem;
      transition: height 1s ease-out;
    }

    .smallBanner {
      height: 9rem;
      transition: height 1s ease-out;
    }

    .bigTitle {
      font-size: 3.2rem;
      line-height: 100%;
      transition: font-size 1s ease-out;
    }

    .smallTitle {
      font-size: 2rem;
      line-height: 100%;
      transition: font-size 1s ease-out;
      margin-bottom: .8rem !important;
    }
  }
</style>
