<template>
  <step-layout :btn-false="true">
    <template slot="content">
      <div
        class="d-flex align-content-center justify-content-center flex-column text-center w-100"
      >
        <img
          :src="errorDict.img"
          :alt="errorDict.alt"
          class="icon-error img-fluid" >
        <p class="h3 text-primary font-weight-semibold mb-4">
          {{ errorDict.title }}
        </p>
        <p
          class="h5 mb-72"
          v-html="errorDict.description" />
        <!-- Botones -->
        <div
          class="d-flex flex-row align-items-center justify-content-around flex-wrap"
        >
          <button
            class="btn btn-cta btn-outline-primary btn-block btn-lg-inline my-3"
            @click.prevent="goHome"
          >
            {{ buttonsInfo.btn1 }}
          </button>
          <button
            class="btn btn-cta btn-success btn-block btn-lg-inline my-3"
            @click.prevent="retry"
          >
            {{ buttonsInfo.btn2 }}
          </button>
        </div>
      </div>
    </template>
  </step-layout>
</template>

<script>
/* Utils */
import { mapMutations } from 'vuex';
/* Components */
import StepLayout from '../layouts/StepLayout';
/* Data */
import icons from '../data/error_icons';

export default {
  name: 'Error',
  components: {
    StepLayout,
  },
  data: () => ({
    errorTypes: {
      1: {
        name: 'validation',
        img: icons.validationError,
        alt: 'Error de validación',
        title: '¡Lo sentimos!',
        description:
            'Lamentamos informarte que en estos momentos no contamos con una oferta disponible para ti.',
      },
      2: {
        name: 'connection',
        img: icons.connectionError,
        alt: 'Error de conexión',
        title: '¡Ha ocurrido un problema!',
        description: 'Hemos tenido un problema al momento de procesar tu solicitud.',
      },
    },
    buttonsInfo: {
      btn1: 'Ir a la Home',
      btn2: 'Volver a intentar',
    },
  }),
  computed: {
    errorDict() {
      return this.errorTypes[this.$route.params.idError];
    },
  },
  created() {
    this.TOGGLE_ERROR();
  },
  destroyed() {
    this.TOGGLE_ERROR();
  },
  mounted() {
    this.scrollTop();
    this.sendTag('sendVirtualPageview', `error_${this.errorDict.name}`);
  },
  methods: {
    ...mapMutations(['RESET_STATE']),
    retry() {
      if (this.$route.params.idError === 1) {
        this.RESET_STATE();
        this.TOGGLE_ERROR();
      }
      this.$router.push({
        name: 'Paso1',
      });
    },
  },
};
</script>
<style scoped>
  .icon-error {
    max-height: 15.8rem;
    margin-bottom: 7.2rem;
  }
</style>
