<template>
  <div
    class="d-flex user-box flex-column border rounded text-center justify-content-center .w-auto mx-auto shadow-cela"
  >
    <div
      class="bg-primary text-white p-4 rounded-top font-weight-semibold h22 mb-0"
    >
      Plan Seguro Oncológico
    </div>
    <div class="bg-primary-lightest p-2  text-primary ">
      <p class="font-price font-weight-bold mb-0">$ {{ primeCLP }}</p>
      <p>
        <strong>UF {{ primeUF }}</strong> mensuales
      </p>
    </div>
    <div class="px-3 pt-3">
      <p class="font-weight-semibold">
        Coberturas
      </p>
      <p class="text-small px-md-4 px-2">
        Tratamiento de todo tipo de cáncer  <br class="d-none d-sm-inline">  en centro especializado
        Clínica IRAM - Santiago
      </p>
    </div>
    <hr class="px-5 mx-5" >
    <div class="px-3">
      <p class="font-weight-semibold mb-0">
        Indemnización de libre disposición
      </p>
      <p class="font-weight-semibold h5">UF 50</p>
      <p class="text-small">
        Por cada diagnóstico de cáncer cubierto
      </p>
      <hr class="px-5 mx-5" >
      <div class="p-3 pb-5">
        <slot name="button" />
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';

export default {
  name: 'PlanBox',
  computed: {
    ...mapState(['client', 'monthlyPremium', 'dailyUFvalue']),
    primeUF() {
      return this.monthlyPremium ? this.UfToString(this.monthlyPremium) : '';
    },
    primeCLP() {
      const ufMensual = this.monthlyPremium;
      return this.convertUFToCLP(ufMensual);
    },
  },
};
</script>
<style lang="" scoped>
  .user-box {
    background: rgba(242, 246, 248, 0.5);
    border-radius: 1rem;
  }
  .w-auto{
  width: min-content;
  }
</style>
