<template>
  <div class="d-flex user-box flex-column shadow-cela">
    <div class="d-flex align-items-end">
      <img
        :src="icon"
        alt="user_icon"
        class="img-fluid mr-4" >
      <div clas="pl-5">
        <p
          class="font-weight-semibold h2 text-capitalize"
          v-html="userName" />
        <p
          class="pb-0 mb-0 pr-2"
          v-html="rut" />
        <input
          v-mask="['#.###.###-X', '##.###.###-X']"
          v-model="rut"
          type="tel"
          class="d-none"
          readonly
        >
      </div>
    </div>
    <div class="pt-4 text-center">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 text-center">
          <slot name="button" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex';
/* Icons */
import icon from '../data/user_icon';

export default {
  name: 'UserBox',
  data: () => ({
    icon,
  }),
  computed: {
    ...mapState(['client', 'rut']),
    ...mapGetters(['userName']),
  },
};
</script>
<style scoped>
  .user-box {
    background: rgba(242, 246, 248, 0.5);
    border-radius: 1rem;
    padding: 3.2rem;
  }
</style>
