<template>
  <!------------------ INICIO ACORDEÓN ------------------->
  <div
    :id="id"
    class="accordion pb-3 pb-lg-0 mt-5 mb-md-5 px-3 px-md-0">
    <!-- Box 1 -->
    <div
      v-for="(item, index) in items"
      :key="index"
      class="card">
      <!-- Box 1 - Título -->
      <div
        :id="`heading${item.name}`"
        class="card-header px-4 ">
        <h5 class="mb-0 position-relative">
          <button
            :data-target="`#collapse${item.name}-${id}`"
            :aria-expanded="item.ariaExpanded"
            :aria-controls="`collapse${item.name}-${id}`"
            :class="[item.ariaExpanded? '' : 'collapsed']"
            class="accordion__header-titulo btn btn-link text-decoration-none font-weight-medium text-left px-0 py-2 py-md-3"
            data-toggle="collapse"
          >
            {{ item.title }}
            <img
              :src="iconMas"
              class="accordion__angle accordion__icon--mas position-absolute"
              alt="icon-mas"
            >
            <img
              :src="iconMenos"
              class="accordion__angle accordion__icon--menos position-absolute"
              alt="icon-menos"
            >
          </button>
        </h5>
      </div>
      <!-- Box 1 - Panel -->
      <div
        :id="`collapse${item.name}-${id}`"
        :class="[item.ariaExpanded? 'show': '']"
        :aria-labelledby="`heading${item.name}`"
        :data-parent="`#${id}`"
        class="collapse"
      >
        <div
          class="card-body px-4 pb-4 pt-2"
          v-html="item.text" />
      </div>
    </div>
  </div>
  <!------------------ FIN ACORDEÓN ------------------->
</template>
<script>
export default {
  name: 'Accordion',
  props: {
    id: {
      type: String,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    iconMas:
      'https://consorcio.modyocdn.com/uploads/14aaf389-2441-491d-88db-8b525ba3299d/original/apv_mas.svg',
    iconMenos:
      'https://consorcio.modyocdn.com/uploads/f7728eb6-8011-4c2b-9b57-4416ed428121/original/apv_menos.svg',

  }),
};
</script>
<style lang="">
.card{
    border: 1px solid #DEE5EB;
box-sizing: border-box;
border-radius: 10px;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: transparent;
}
/* acordeón apv*/

.accordion {
  margin-left: -15px;
  width: calc(100% + 30px);
}


.accordion__titulo {
  font-size: 1.9rem;
}

.accordion__descripcion {
  font-size: 1.6rem;
  line-height: 24px;
}

.accordion__header-titulo {
  font-size: 1.7rem;
  color: #80bc00 !important;
  width: 100%;
}

.accordion__header-titulo.collapsed {
  color: #6c757d !important;
}

.accordion__angle {
  right: -13px;
}

.accordion__icon--mas {
  width: 9px;
  display: none;
  top: 14px;
}

.accordion__icon--menos {
  width: 16px;
  display: block;
  top: 17px;
}

.accordion__header-titulo.collapsed .accordion__icon--mas {
  display: block;
}

.accordion__header-titulo.collapsed .accordion__icon--menos {
  display: none;
}

.accordion__card-body__button {
  display: block;
  margin: 0 auto;
}
/***************
     RESPONSIVE
  ***************/
/* text responsive */

@media (max-width: 767px) {
  .text-small-xs {
    font-size: 1.4rem;
  }
}
/* md */

@media (min-width: 768px) {
  h4 {
    max-width: 344px;
  }
  .accordion__angle {
    right: -16px;
  }
  .accordion__icon--mas {
    width: 14px;
    top: 25px;
  }
  .accordion__icon--menos {
    top: 31px;
    width: 16px;
  }
  button.accordion__header-titulo:hover {
    color: #80bc00 !important;
  }
}
/* lg */

@media (min-width: 1200px) {
  .accordion__angle {
    right: 0;
  }
}
</style>
