<template>
  <span class="bg-white">
    <template v-if="currentPath === '/paso-1'">
      <a
        :href="home"
        class="d-inline-flex flex-row align-items-center">
        <i class="la la-arrow-left m-0 mr-2 h3 text-success" />
        <span class="text-primary">{{ text }}</span>
      </a>
    </template>
    <template v-else>
      <router-link
        :to="{ name: prevPath }"
        class="d-inline-flex flex-row align-items-center">
        <i class="la la-arrow-left m-0 mr-2 h3 text-success" />
        <span class="text-primary">{{ text }}</span>
      </router-link>
    </template>
  </span>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'BackButton',
  props: {
    text: {
      type: String,
      required: false,
      default: 'Atrás',
    },
  },
  data: () => ({
    home: `${window.liquid.siteURL}/seguro-accidentes-personales`,
  }),
  computed: {
    ...mapState(['prevPath']),
    currentPath() { return this.$route.path; },
  },
};
</script>

<style scoped>
</style>
