<template>
  <div
    id="btnConoceDetalle"
    class="d-inline-flex flex-row align-items-center"
    @click="toggle('conoceDetalle')"
  >
    <span
      class="text-primary text-small text-lg-normal font-weight-medium"
    >Conoce detalles de este seguro</span
    >
    <i class="icon la la-arrow-right m-0 mr-2 h3 text-success" />
  </div>
</template>

<script>
/* Utils */
import { mapState } from 'vuex';

export default {
  name: 'BtnConoceDetalle',
  computed: {
    ...mapState('modals', ['conoceDetalle']),
  },
};
</script>

<style scoped>
  #btnConoceDetalle {
    cursor: pointer;
  }

  .icon {
    padding-left: 1rem;
  }
</style>
