<template>
  <button
    id="button-call-action"
    class="btn btn-success font-weight-bold"
    @click.prevent="onClickHandlerCall">
    {{ text }}
  </button>
</template>

<script>
/* eslint-disable vue/require-default-prop */
export default {
  name: 'CallActionBtn',
  props: {
    text: {
      type: String,
      required: true,
      default: 'Cotizar',
    },
    size: {
      type: String,
      required: false,
    },
  },
  methods: {
    onClickHandlerCall() {
      this.$emit('onClickHandlerCall');
    },
  },
};
</script>

<style scoped>
  #button-call-action {
    border-radius: 8px;
    width: 17rem;
    height: 4.8rem;
    font-size: 1.6rem !important;
  }

  @media (min-width: 768px) {
    #button-call-action {
      width: 18rem;
      height: 5.6rem;
      font-size: 1.6rem !important;
    }
  }

  @media (min-width: 992px) {
    #button-call-action {
      width: 21.1rem;
      height: 5.6rem;
      font-size: 1.6rem !important;
    }
  }
</style>
