<template>
  <a
    id="iconButton"
    :href="url"
    class="btn text-normal text-primary"
  >
    <img
      :src="icon"
      :alt="alt"
      class="pr-1 img-fluid" >
    <span class="text-underline">{{ text }}</span>
  </a>
</template>

<script>
/* eslint-disable vue/require-default-prop */
export default {
  name: 'IconBtn',
  props: {
    url: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
      default: 'Cotizar',
    },
    icon: {
      type: String,
      required: true,
    },
    alt: {
      type: String,
      required: false,
      default: 'Ícono',
    },
  },
};
</script>

<style scoped>
  #iconButton {
    padding: 0;
    font-size: 1.2rem !important;
  }

  .text-underline {
    text-decoration: underline;
  }

  @media (min-width: 576px) {
    #iconButton {
      font-size: 1.4rem !important;
    }
  }

  @media (min-width: 768px) {
    #iconButton {
      font-size: 1.3rem !important;
    }
  }

  @media (min-width: 992px) {
    #iconButton {
      font-size: 1.6rem !important;
    }
  }

  @media (min-width: 1200px) {
    #iconButton {
      font-size: 1.6rem !important;
    }
  }
</style>
