<template>
  <div
    :class="{ 'cs-panel--visible': active }"
    class="cs-panel cs-panel--right cs-panel--small">
    <!-- Header -->
    <header class="cs-panel__header d-flex align-items-center">
      <div class="container-fluid">
        <div class="btnBox d-flex flex-row justify-content-end">
          <!-- Close Button -->
          <button
            class="m-0 p-0 border-0 bg-transparent btn-block text-right text-small d-flex flex-row justify-content-end align-items-center"
            @click.prevent="onClickHandlerToggle"
          >
            Cerrar
            <i class="la la-close" />
          </button>
        </div>
      </div>
    </header>
    <!-- Content -->
    <div
      v-if="modalInfo"
      class="cs-panel__container">
      <div class="cs-panel__content">
        <div class="d-flex flex-column h-auto frame">
          <!-- Icon & Title -->
          <div class="d-flex flex-column justify-content-start align-items-start mb-5">
            <img
              v-if="modalInfo.img"
              :src="modalInfo.img"
              :alt="modalInfo.alt"
              class="header-icon mb-32"
            >
            <h5
              class="h4 h2-lg text-gray font-weight-semibold text-left"
              v-html="modalInfo.title" />
            <p
              v-if="modalInfo.subtitle"
              class="h6 h5-lg text-gray font-weight-semibold mb-0"
              v-html=" modalInfo.subtitle"/>
          </div>
          <!-- Content -->
          <div class="content text-small">
            <slot name="content" />
          </div>
        </div>
      </div>
    </div>
    <span
      class="cs-panel__overlay"
      @click.prevent="onClickHandlerToggle" />
  </div>
</template>
<script>
/* Utils */
import { mapState } from 'vuex';

export default {
  name: 'ModalBase',
  props: {
    active: {
      type: Boolean,
      required: true,
    },
    modalInfo: {
      type: Object,
      required: false,
      default() {},
    },
  },
  computed: {
    ...mapState(['modalAPV']),
  },
  methods: {
    onClickHandlerToggle() {
      this.$emit('onClickHandlerToggle');
    },
  },
};
</script>
<style scoped>
.h6 {
  font-size: 1.8rem;
}

.frame {
  padding-left: 2.4rem !important;
  padding-right: 2.4rem !important;
  padding-bottom: 3.2rem;
}

.btnBox button {
  color: #869fb2 !important;
}

.btnBox button i {
  font-size: 1.8rem;
  padding-left: 2rem;
}

.header-icon {
  height: 6.8rem;
}

.content {
  color: #53565A;
}

@media (min-width: 768px) {
  .frame {
    padding-left: 4.8rem !important;
    padding-right: 4.8rem !important;
    padding-bottom: 4rem;
  }

  .text-md-normal {
    font-size: 1.6rem !important;
  }
}
</style>
