<template>
  <div
    :class="[display]"
    class="priceCard flex-column rounded text-center justify-content-start shadow-cela"
  >
    <!-- Heading -->
    <div
      class="header text-left text-md-center bg-primary text-white p-3 rounded-top font-weight-medium mb-0"
    >
      <template v-if="headerText">
        {{ headerText }}
      </template>
      <template v-else>
        <slot name="cardHeader" />
      </template>
    </div>
    <!-- Body -->
    <div class="bgBody p-4 text-primary text-left text-md-center">
      <slot name="cardBody" />
    </div>
    <template>
      <slot name="cardFeatures" />
    </template>
    <template>
      <slot name="cardFeaturesMobile" />
    </template>
    <!-- Footer -->
    <div class="footer rounded-bottom">
      <slot name="cardFooter" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'PriceCard',
  props: {
    headerText: {
      type: String,
      required: false,
      default: '',
    },
    display: {
      type: String,
      required: false,
      default: 'd-flex',
    },
  },
};
</script>

<style scoped>
.priceCard {
  background: rgba(242, 246, 248, 0.5);
  border-radius: 1rem;
  width: 32.4rem;
}
.header {
  font-size: 1.6rem;
}

.bgBody {
  background-color: #FAFBFD;
}

.priceTag {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 100%;
}

.footer {
  padding: .8rem 2.4rem 2.4rem;
}

@media (min-width: 768px) {
  .priceCard {
    width: 35rem;
    height: auto;
  }

  .header {
    font-size: 2.2rem;
  }

  .bgBody {
    background-color: #e3ecf3;
  }

  .priceTag {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 100%;
  }

  .footer {
    padding: 0 2.4rem 3.2rem;
  }
}
</style>
