<template>
  <div class="box d-flex flex-column rounded w-100 border">
    <template v-if="content">
      <div
        v-for="(row, index) in content.rows"
        :key="`row${index}`"
        :class="{
          'border-top border-bottom': index === 1,
        }"
        class="d-flex flex-column justify-content-center frame"
      >
        <template v-if="row.title">
          <h5 class="font-weight-bold">{{ row.title }}</h5>
        </template>
        <div class="d-flex flex-column flex-md-row justify-content-start justify-content-md-between">
          <div
            v-for="(content, index) in row.cells"
            :key="`content${index}`"
            :class="{
              'pl-md-5 pt-3 pt-md-0': index === 1,
            }"
            class="w-100 w-md-50">
            <h6 class="font-weight-bold text-normal text-primary">{{ content.heading }}</h6>
            <p
              class="text-small text-gray mb-0"
              v-html="content.description" />
            <template v-if="content.heading2">
              <h6 class="font-weight-bold text-normal text-primary pt-3">{{ content.heading2 }}</h6>
              <p
                class="text-small text-gray mb-0"
                v-html="content.description2" />
            </template>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <slot name="customTable"/>
    </template>
  </div>
</template>

<script>
export default {
  name: 'SummaryTable',
  props: {
    content: {
      type: Object,
      required: false,
      default() {},
    },
  },
};
</script>

<style scoped>
  .box {
    background: rgba(242, 246, 248, 0.5);
  }

  .frame {
    padding: 2.4rem 1.6rem;
  }

  h5 {
    margin-bottom: 1.6rem;
  }

  @media (min-width: 768px) {
    .frame {
    padding: 2.4rem 3.2rem;
  }
  }
</style>
