<template>
  <div id="tabs-informativos">
    <!-- Nav Tabs -->
    <ul
      id="nav-tab"
      class="nav nav-fill nav-tabs-line d-none d-md-flex"
      role="tablist"
    >
      <li
        v-for="(tab, index) in tabsInfo"
        :key="`tab${index}`"
        class="nav-item"
      >
        <a
          :id="`${tab.name}-tab`"
          :href="`#${tab.name}`"
          :aria-controls="`#${tab.name}`"
          :class="index === 0 ? 'active' : ''"
          :aria-selected="index === 0 ? true : false"
          class="nav-link"
          data-toggle="tab"
          role="tab"
        >{{ tab.tabName }}</a
        >
      </li>
    </ul>
    <!-- Dropdown Mobile -->
    <div class="d-block d-md-none">
      <div class="dropdown">
        <a
          id="dropdownMenuButton"
          class="btn btn-secondary dropdown-toggle font-weight-semibold"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ currentActivePane }}
        </a>
        <div
          class="dropdown-menu"
          aria-labelledby="dropdownMenuButton"
          role="tablist"
        >
          <ul class="nav">
            <li
              v-for="(tab, index) in tabsInfo"
              :key="`tab${index}`"
              class="nav-item"
            >
              <a
                ref="dropdownItem"
                :id="`${tab.name}-tab`"
                :href="`#${tab.name}`"
                :class="index === 0 ? 'active currentTab' : ''"
                :aria-controls="tab.name"
                :aria-selected="index === 0 ? true : false"
                class="dropdown-item nav-link"
                data-toggle="tab"
                role="tab"
                @click="setTitle(tab.tabName)"
              >{{ tab.tabName }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Tab Panes -->
    <div class="tab-content rounded mb-3 px-3 pt-5">
      <div
        v-for="(tab, index) in tabsInfo"
        :id="tab.name"
        :key="`pane${index}`"
        :class="index === 0 ? 'active' : ''"
        :aria-labelledby="`${tab.name}-tab`"
        class="tab-pane"
        role="tabpanel"
      >
        <template v-for="(row, index) in tab.pane">
          <div
            :key="`row${index}`"
            class="d-flex flex-row justify-content-between pb-5"
          >
            <!-- Icon -->
            <div
              class="d-none d-md-flex flex-column justify-content-start align-items-center w-25 pb-5"
            >
              <img
                :src="row.icon"
                :alt="row.alt" >
              <span
                v-show="row.iconTitle"
                class="w-50 text-center font-weight-bold mt-4"
              >{{ row.iconTitle }}</span
              >
              <span
                v-show="row.iconDetail"
                class="w-50 text-center text-smaller"
              >{{ row.iconDetail }}</span
              >
            </div>
            <!-- Content -->
            <div class="w-100 w-lg-75 pl-md-4">
              <h2 class="font-weight-medium mb-4">{{ row.paneTitle }}</h2>
              <div>
                <p
                  v-for="(p, index) in row.paneContent"
                  :key="`p${index}`"
                  v-html="p"
                />
                <template v-if="row.transparentBtn">
                  <p
                    v-if="row.paneSubtitle"
                    class="pt-3"
                    v-html="row.paneSubtitle"
                  />
                  <transparent-button
                    v-for="(link, index) in row.transparentBtn"
                    :key="`link${index}`"
                    :text="link.text"
                    :url="link.url"
                    class="mt-4"
                  />
                </template>
              </div>
            </div>
          </div>
          <p
            v-if="index < tab.pane.length - 1"
            :key="`line${index}`"
            class="line mb-5"
          />
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import TransparentButton from './TransparentButton';

export default {
  name: 'TabsInformativos',
  components: {
    TransparentButton,
  },
  props: {
    tabsInfo: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    currentActivePane: '',
  }),
  mounted() {
    this.setDropdownTitle();
  },
  methods: {
    setDropdownTitle() {
      this.$refs.dropdownItem.forEach((item) => {
        const classes = item.classList.value;
        if (classes.includes('active')) {
          this.currentActivePane = item.textContent;
        }
      });
    },
    setTitle(name) {
      this.currentActivePane = name;
    },
  },
};
</script>

<style scoped>
  .line {
    width: 100%;
    border-top: 1px solid #53565a;
  }

  .gray-line {
    width: 100%;
    border: 1px solid #53565a;
  }

  .nav-tabs-line a {
    text-transform: initial;
  }

  #dropdownMenuButton {
    width: 100%;
    color: #80bc00;
    font-size: 1.6rem;
    background-color: transparent;
    border: 0;
    text-align: left;
    background-image: url(https://consorcio.modyocdn.com/uploads/fa8ecc79-a453-4e0c-a3cc-6dfab9f86138/original/apv-gray-arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 92%;
    background-position-y: 18px;
    border-bottom: 1px solid #e7e7e7;
  }

  .dropdown-toggle::after {
    margin-left: 20rem;
    content: initial;
  }

  .dropdown-menu {
    width: 100%;
    border-radius: 0;
    border: 1px solid #e8eef1;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #53565ac0;
  }

  .nav-item {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }

  .nav-item:last-child {
    border-bottom: 0;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #53565a;
  }

  @media (min-width: 768px) {
    .w-lg-75 {
      width: 75%;
    }

    .nav-item {
      width: 100%;
      border-bottom: 0;
    }
  }
</style>
