<template>
  <div class="d-flex flex-column justify-content-start">
    <div
      :class="[!activeCheck ? 'input-disabled' : 'input-active']"
      class="checkbox"
    >
      <label
        for="checkbox"
        class="mb-0">
        <input
          id="checkbox"
          :disabled="!activeCheck"
          v-model="aceptaTerminos"
          class="z-index-checkbox"
          type="checkbox"
        >
        <i class="helper" />
        <div class="d-flex flex-column justify-content-start" >
          <p class="text-slate-gray text-small mb-0">
            {{ statement }}
          </p>
        </div>
      </label>
      <template v-if="buttonLabel">
        <button
          :disabled="!activeCheck"
          :class="[activeCheck ? 'text-primary' : 'text-muted']"
          class="btn btn-transparent text-primary text-small font-weight-normal pl-48 pb-0"
          type="button"
          @click="toggle(modal.modalName)"
        >
          {{ buttonLabel }}
          <i
            class="la la-angle-right font-weight-bold ml-1 mb-0 text-success h5 align-middle"
          />
        </button>
      </template>
    </div>
    <!-- Modal -->
    <template v-if="modal">
      <modal-base
        :active="modalActive"
        :modal-info="modal.modalInfo"
        @onClickHandlerToggle="toggle(modal.modalName)"
      >
        <template slot="content">
          <template v-if="!modal.content">
            <p
              v-for="(text, index) in modal.modalInfo.description"
              :key="`text${index}`"
              :class="modal.modalInfo.description.length -1 === index ? 'mb-0' : 'mb-16'"
              class="text-left"
              v-html="text" />
          </template>
          <template v-else>
            <slot name="contentModal" />
          </template>
        </template>
      </modal-base>
    </template>
  </div>
</template>

<script>
/* eslint-disable vue/require-default-prop */
/* Utils */
import { mapState, mapMutations } from 'vuex';
/* Components */
import ModalBase from '../partials/ModalBase';

export default {
  name: 'TermsConditions',
  components: {
    ModalBase,
  },
  props: {
    activeCheck: { type: Boolean, required: true },
    statement: { type: String, required: true },
    model: { type: String, required: true },
    modal: {
      type: Object,
      modalName: { type: String, required: false },
      modalInfo: { type: Object, required: false },
    },
    buttonLabel: { type: String, required: false },
  },
  data: () => ({}),
  computed: {
    ...mapState(['authorizations']),
    ...mapState(['modals']),
    aceptaTerminos: {
      get() {
        return this.$store.state.authorizations[this.model];
      },
      set(value) {
        const name = 'authorizations';
        this.SET_VALUE({ name, param: this.model, value });
      },
    },
    modalActive: {
      get() {
        return this.modals[this.modal.modalName];
      },
    },
  },
  methods: {
    ...mapMutations(['SET_VALUE']),
  },
};
</script>

<style scoped>
  .terms-container {
    height: auto !important;
    background: #f2f6f8;
  }

  .checkbox .helper {
    position: absolute;
    top: 6%;
  }

  .checkbox label {
    padding: 0 0 0 4.8rem;
     min-height: 2.7rem;
  }

  .pl-48 {
    padding-left: 4.8rem;
  }

  .z-index-checkbox {
    z-index: 99;
  }

  .input-disabled {
    opacity: 0.4;
  }

  .input-active {
    opacity: 1;
  }

  .text-slate-gray {
    color: #657c8d;
  }
</style>
