<template>
  <div class="row">
    <div class="col-12 col-md-8 pb-3 pb-md-5">
      <!-- Skeleton -->
      <template v-if="isLoading">
        <div class="text-center px-5">
          <title-skeleton class="px-md-5" />
        </div>
      </template>
      <!-- Title -->
      <template v-else>
        <p
          class="title font-weight-bold mb-4 p-0"
          v-html="title" />
        <p
          v-if="subtitle"
          class="subtitle m-0 mb-4 mb-md-0"
          v-html="subtitle" />
      </template>
    </div>
  </div>
</template>

<script>
import TitleSkeleton from '../skeleton/TitleSkeleton';

export default {
  name: 'SectionTitle',
  components: {
    TitleSkeleton,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    // eslint-disable-next-line vue/require-default-prop
    subtitle: {
      type: String,
      required: false,
    },
  },
};
</script>

<style scoped>
.subtitle {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: normal;
    text-align: center;
}
  .title {
    font-size: 2.6rem;
    padding-bottom: .6rem;
    line-height: 38px;
    text-align: center;
  }

  @media (min-width: 768px) {
    .title {
      font-size: 2.8rem;
    }
  }
</style>
