<template>
  <div class="transparent-button">
    <a
      v-if="url"
      :href="url"
      target="_blank">
      <span class="text pr-2">{{ text }}</span>
      <img
        src="https://consorcio.modyocdn.com/uploads/f98fd5e9-21ff-4714-8bcf-2bde0b9110fb/original/oncologico-icon-arrow-right.svg"
        alt="Flecha derecha"
      >
    </a>
    <button
      v-else
      class="btn btn-transparent p-0"
      @click.prevent="onClickHandlerToggle">
      <div class="d-flex justify-content-between align-items-center">
        <span class="text text-normal pr-md-2">{{ text }}</span>
        <img
          class="arrow-icon-mobile"
          src="https://consorcio.modyocdn.com/uploads/f98fd5e9-21ff-4714-8bcf-2bde0b9110fb/original/oncologico-icon-arrow-right.svg"
          alt="Flecha derecha"
        >
      </div>
    </button>
  </div>
</template>

<script>
export default {
  name: 'TransparentButton',
  props: {
    text: {
      type: String,
      required: true,
      default: 'Conoce más',
    },
    url: {
      type: String,
      required: false,
      default: '',
    },
  },
  methods: {
    onClickHandlerToggle() {
      this.$emit('onClickHandlerToggle');
    },
  },
};
</script>

<style scoped>
.transparent-button {
  cursor: pointer;
}

.text {
  color: #003da5;
  line-height: 100%;
}

.text:hover {
  color: #002159 !important;
}
@media (max-width: 767.98px) {
  .arrow-icon-mobile {
    width: 8px;
    padding-left: 3px;
  }
  .text-small {
    font-size: 1.3rem !important;
  }
}
</style>
