<template>
  <div class="warning d-flex flex-row align-items-center">
    <img
      src="https://consorcio.modyocdn.com/uploads/83b376ec-dc32-4900-ae8a-3ec633cca9af/original/ap-blue-info.svg"
      alt="Signo de información"
      class="pr-4"
    >
    <p
      class="text-smaller mb-0"
    >No haremos ningún cargo a tu tarjeta de crédito hasta no emitir la póliza de tu seguro.</p>
  </div>
</template>

<script>
export default {
  name: 'WarningBox',
  props: {
    text: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
  .warning {
    background-color: #EDF5FF;
    border: 1px solid #CDDDF9;
    border-radius: 8px;
    padding: 1.6rem 2.4rem;
  }

  .warning p {
    color: #4F4F4F;
    line-height: 130%;
  }
</style>
