button[aria-expanded="false"] i.arrow:before {
	content: url("https://consorcio.modyocdn.com/uploads/6aa3ef03-a8a3-4b21-9947-e9b8cc29f03c/original/down.svg");
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: all 0.5s;
	transition: all 0.5s;
	float: right;
	height: auto;
  width: 20px;
  top: 2px;
}

button[aria-expanded="true"] i.arrow:before {
	content: url("https://consorcio.modyocdn.com/uploads/6aa3ef03-a8a3-4b21-9947-e9b8cc29f03c/original/down.svg");
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	float: right;
	height: auto;
  width: 20px;
  top: 2px;
}

button[aria-expanded="false"] i.arrow-success:before {
	content: url("https://consorcio.modyocdn.com/uploads/f98fd5e9-21ff-4714-8bcf-2bde0b9110fb/original/oncologico-icon-arrow-right.svg");
	float: right;
	position: relative;
	// -webkit-transform: rotate(180deg);
	// -moz-transform: rotate(180deg);
	// transform: rotate(180deg);
	transition: all 0.5s;
	transition: all 0.5s;
}

button[aria-expanded="true"] i.arrow-success:before {
	content: url("https://consorcio.modyocdn.com/uploads/f98fd5e9-21ff-4714-8bcf-2bde0b9110fb/original/oncologico-icon-arrow-right.svg");
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	float: right;
}

.btn-collapse,
.btn-collapse[aria-expanded="false"] {
	text-decoration: none;
	background: #ffffff;
	border: #ffffff;
	font-size: 1.4rem;
	color: #53565A;
	border-bottom: 1px solid #E7E7E7;
}

.btn-collapse[aria-expanded="true"] {
	text-decoration: none;
	background: #f8f9fa;
	border-bottom: none;
	border: none;
}

.btn-collapse:hover .collapse_text {
	color: #84BD00;
	text-decoration: none;
}

.btn-collapse:focus,
.btn-collapse.focus {
	text-decoration: none;
	box-shadow: none;
}

.btn-cta {
	border-radius: 8px;
	min-height: 5rem;
	font-size: 1.4rem !important;
}

.btn-ap {
	box-sizing: border-box;
	border-radius: 8px;
	font-size: 1.4rem;
}

.btn-ap-success {
	height: 4.6rem;
	max-width: 16rem;
	margin: 1.5rem;
}

.btn-ap-primary {
	border: 2px solid #003DA5;
	box-sizing: border-box;
	border-radius: 8px;
	color: #003DA5;
}

.btn-ap-primary:hover {
	color: #003DA5;
}

.btn-success.disabled,
.btn-success:disabled {
	background-color: #f4f4f4 !important;
	color: #d9d9d6 !important;
	border: 1px solid #d9d9d6 !important;
}

.btn-outline-white {
	color: #ffffff;
	border-color: #ffffff;
}

.btn-outline-white:hover {
	color: #003DA5;
	background-color: #ffffff;
	border-color: #ffffff;
}


/* Media Queries */

@media (min-width: 512px) {
	.btn-sm-inline {
			display: inline-block;
			width: auto;
	}
}

@media (min-width: 768px) {
	.btn-cta {
			height: 5rem;
			min-width: 236px;
			font-size: 1.6rem !important;
	}
}

@media (min-width: 992px) {
	.btn-lg-inline {
			display: inline-block;
			width: auto;
			margin-top: 0 !important;
	}
	.btn-cta {
			height: 6rem;
			font-size: 1.6rem !important;
	}
	.btn-ap-success {
			height: 5.6rem;
			max-width: 22rem;
	}
}

@media (min-width: 1200px) {
	.btn-cta {
			height: 6rem;
			font-size: 1.6rem !important;
	}
}
