@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
body {
	color: #53565a;
	font-family: 'Open Sans', sans-serif;
}

@import 'skeleton';

.container-md {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-md {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-md {
    max-width: 1140px;
  }
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

/* Padding */
.p-8 {
	padding: 0.8rem;
}

.p-16 {
	padding: 1.6rem;
}

.p-24 {
	padding: 2.4rem;
}

.p-32 {
	padding: 3.2rem;
}

.p-40 {
	padding: 4rem;
}

.py-8 {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.py-16 {
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}

.py-24 {
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
}

.py-32 {
	padding-top: 3.2rem;
	padding-bottom: 3.2rem;
}

.py-40 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.px-8 {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

.px-16 {
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}

.px-24 {
	padding-left: 2.4rem;
	padding-right: 2.4rem;
}

.px-32 {
	padding-left: 3.2rem;
	padding-right: 3.2rem;
}

.px-40 {
	padding-left: 4rem;
	padding-right: 4rem;
}

.pt-8 {
	padding-top: 0.8rem;
}

.pt-16 {
	padding-top: 1.6rem;
}

.pt-24 {
	padding-top: 2.4rem;
}

.pt-32 {
	padding-top: 3.2rem;
}

.pt-40 {
	padding-top: 4rem;
}

.pt-48 {
	padding-top: 4.8rem;
}

.pt-52 {
	padding-top: 5.2rem;
}

.pb-8 {
	padding-bottom: 0.8rem;
}

.pb-16 {
	padding-bottom: 1.6rem;
}

.pb-24 {
	padding-bottom: 2.4rem;
}

.pb-32 {
	padding-bottom: 3.2rem;
}

.pb-40 {
	padding-bottom: 4rem;
}

/* Margin */

.m-8 {
	margin: 0.8rem;
}

.m-16 {
	margin: 1.6rem;
}

.m-24 {
	margin: 2.4rem;
}

.m-32 {
	margin: 3.2rem;
}

.m-40 {
	margin: 4rem;
}

.my-8 {
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.my-16 {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}

.my-24 {
	margin-top: 2.4rem;
	margin-bottom: 2.4rem;
}

.my-32 {
	margin-top: 3.2rem;
	margin-bottom: 3.2rem;
}

.my-40 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.mx-8 {
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}

.mx-16 {
	margin-left: 1.6rem;
	margin-right: 1.6rem;
}

.mx-24 {
	margin-left: 2.4rem;
	margin-right: 2.4rem;
}

.mx-32 {
	margin-left: 3.2rem;
	margin-right: 3.2rem;
}

.mx-40 {
	margin-left: 4rem;
	margin-right: 4rem;
}

.mt-8 {
	margin-top: 0.8rem;
}

.mt-16 {
	margin-top: 1.6rem;
}

.mt-24 {
	margin-top: 2.4rem;
}

.mt-32 {
	margin-top: 3.2rem;
}

.mt-40 {
	margin-top: 4rem;
}

.mb-8 {
	margin-bottom: 0.8rem;
}

.mb-16 {
	margin-bottom: 1.6rem;
}

.mb-24 {
	margin-bottom: 2.4rem;
}

.mb-32 {
	margin-bottom: 3.2rem;
}

.mb-40 {
	margin-bottom: 4rem;
}

.mb-72 {
	margin-bottom: 7.2rem;
}

.ml-32 {
	margin-left: 3.2rem;
}

.ml-48 {
	margin-left: 4.8rem;
}

.shadow-cela {
	box-shadow: 0px 0px 8px rgba(148, 148, 148, 0.25);
	border-radius: 1rem;
}

/* // ________________________________________________________
// Form field */
.form-field:not(.is-empty) input ~ label,
.form-field:not(.is-empty) textarea ~ label,
.form-field:not(.is-empty) select ~ label,
.form-field.has-placeholder input ~ label,
.form-field.has-placeholder textarea ~ label,
.form-field.has-placeholder select ~ label {
	font-size: 1.4rem;
	top: -2rem;
	left: 0;
	font-weight: 600;
	line-height: 150%;
	color: #4f4f4f;
}

.form-field:-moz-placeholder {
	font-size: 1.6rem;
	color: #bdbdbd;
}

.form-field::-moz-placeholder {
	font-size: 1.6rem;
	color: #bdbdbd;
}

.form-field:-ms-input-placeholder {
	font-size: 1.6rem;
	color: #bdbdbd;
}

.form-field::-webkit-input-placeholder {
	font-size: 1.6rem;
	color: #bdbdbd;
}

:-moz-placeholder,
::-webkit-input-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
input::placeholder,
:placeholder-shown {
	font-size: 1.6rem;
	color: #bdbdbd;
	color: red;
}

input[type='search']::-webkit-search-cancel-button {
	/* Remove default */
	-webkit-appearance: none;
}

.error-block {
	min-height: 3.2rem;
}

input:-internal-autofill-selected {
	background-color: transparent !important;
	background-image: none !important;
	color: rgb(0, 0, 0) !important;
}

.text-underline {
	text-decoration: underline;
}

.text-big {
	font-size: 1.8rem;
}

.select select:focus,
.select:visited,
.textarea:focus,
.input:focus,
.select select.is-focused,
.is-focused.textarea,
.is-focused.input,
.select select:active,
.textarea:active,
.input:active,
.select select.is-active,
.is-active.textarea,
.is-active.input,
select:-moz-focusring {
	border-color: transparent;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
	color: transparent;
	text-shadow: 0 0 0 #000;
}

.checkbox label,
.form-radio label,
.form-field .control-label,
.form-field .bar,
.form-field input.has-value,
.form-field textarea.has-value,
.form-field input:valid ~ .control-label {
	color: #53565a;
}

.form-field.is-valid input:focus,
.form-field.is-valid textarea:focus,
.form-field.is-valid select {
	color: #53565a;
}

.form-field .bar::before,
.form-field .bar {
	background: #d5d5d5;
	color: #53565a;
}

.form-field input:disabled,
.form-field textarea:disabled,
.form-field select:disabled {
	background-color: transparent;
}

.form-field input:disabled ~ .control-label,
textarea:disabled ~ .control-label,
select:disabled ~ .control-label {
	color: #d5d5d5;
}

label.label {
	font-size: 1.4rem;
	pointer-events: none;
	padding-left: 0;
	font-weight: 600;
	color: #53565a;
	-webkit-transition: all 0.28s ease;
	transition: all 0.28s ease;
	min-height: 2.6rem;
}

.form-field input {
	margin-left: 1rem;
}

.form-field small {
	color: #e30613;
	background: #fff;
	margin: 0 !important;
	text-align: left;
}

.form-field.is-valid input {
	color: #003DA5 !important;
}

/* // Form field
// ________________________________________________________
// Button
// ________________________________________________________ */
.btn-cta {
	border-radius: 8px;
	height: 5rem;
	font-size: 1.6rem !important;
}

.btn-success.disabled,
.btn-success:disabled {
	background-color: #f4f4f4 !important;
	color: #d9d9d6 !important;
	border: 1px solid #d9d9d6 !important;
}

// ________________________________________________________
// Fin Button
// ________________________________________________________
// ________________________________________________________
// Fade
// ________________________________________________________
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

// ________________________________________________________
// Fin fade
// ________________________________________________________
// ________________________________________________________
// Text
// ________________________________________________________
.h18 {
	font-size: 18px;
	line-height: 25px;
}

.h22 {
	font-size: 2.2rem;
}

.text-gray {
	color: #53565a;
}

.text-light-gray {
	color: #959a9d;
}

.font-price {
	font-size: 48px;
}

ul.list-check li,
ul.list-cross li {
	font-size: 14px;
	line-height: 24px;
	color: #53565a;
}

/* // ________________________________________________________
// Fin Text
// ________________________________________________________
// ________________________________________________________
// Transition
// ________________________________________________________ */

.slide-fade-enter-active {
	transition: all 0.3s ease;
}

.slide-fade-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}

/* // ________________________________________________________
// Transition
// ________________________________________________________
// ________________________________________________________
// Scroll
// ________________________________________________________
// ::-webkit-scrollbar {
//     width: 5px;
// }
// /* Track
// ::-webkit-scrollbar-track {
//     background: #E7E8F3;
// }
// /* Handle
// ::-webkit-scrollbar-thumb {
//     background: #CCCCCC;
// }
// /* Handle on hover
// ::-webkit-scrollbar-thumb:hover {
//     background: #999999;
// }
// ________________________________________________________
// Scroll
// ________________________________________________________
// ________________________________________________________
// Select
// ________________________________________________________ */
.v-select {
	position: relative;
	font-family: inherit;
}

span.vs__selected::first-letter {
	font-weight: bold;
	color: red;
	text-transform: capitalize;
}

.v-select,
.v-select * {
	box-sizing: border-box;
}

.is-valid > div.vs__dropdown-toggle {
	border-bottom: 1px solid #8bc34a !important;
}

@-webkit-keyframes vSelectSpinner {
	0% {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1turn);
	}
}

@keyframes vSelectSpinner {
	0% {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1turn);
	}
}

.vs__fade-enter-active,
.vs__fade-leave-active {
	transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.vs__fade-enter,
.vs__fade-leave-to {
	opacity: 0;
}

.v-select[dir='rtl'] .vs__actions {
	padding: 0 3px 0 6px;
}

.v-select[dir='rtl'] .vs__clear {
	margin-left: 6px;
	margin-right: 0;
}

.v-select[dir='rtl'] .vs__deselect {
	margin-left: 0;
	margin-right: 2px;
}

.v-select[dir='rtl'] .vs__dropdown-menu {
	text-align: right;
}

.vs__dropdown-toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: flex;
	padding: 0 0 4px;
	background: none;
	border: 1px solid #ffffff;
	border-bottom: 1px solid rgba(60, 60, 60, 0.26);
	white-space: normal;
}

.vs__selected-options {
	display: flex;
	flex-basis: 100%;
	flex-grow: 1;
	flex-wrap: wrap;
	padding: 0 2px;
	position: relative;
}

.vs__actions {
	display: flex;
	align-items: center;
	padding: 4px 6px 0 3px;
}

.vs--searchable .vs__dropdown-toggle {
	cursor: text;
}

.vs--unsearchable .vs__dropdown-toggle {
	cursor: pointer;
}

.vs--open .vs__dropdown-toggle {
	border-bottom-color: transparent;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.vs__open-indicator {
	fill: #53565a;
	transform: scale(1);
	transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
	transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
}

.vs--open .vs__open-indicator {
	transform: rotate(180deg) scale(1);
}

.vs--loading .vs__open-indicator {
	opacity: 0;
}

.vs__clear {
	fill: #53565a;
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	margin-right: 8px;
	display: none;
}

.vs__dropdown-menu {
	display: block;
	position: absolute;
	top: calc(100% - 1px);
	left: 0;
	z-index: 2;
	padding: 5px 0;
	margin: 0;
	width: 100%;
	max-height: 350px;
	min-width: 160px;
	overflow-y: auto;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(60, 60, 60, 0.26);
	border-top-style: none;
	border-radius: 0 0 4px 4px;
	text-align: left;
	list-style: none;
	background: #fff;
}

.vs__no-options {
	text-align: left;
	padding: 1rem;
	color: red;
	font-size: 1.2rem;
}

.vs__dropdown-option {
	line-height: 1.42857143;
	display: block;
	padding: 3px 20px;
	clear: both;
	color: #333;
	white-space: nowrap;
}

.vs__dropdown-option:hover {
	cursor: pointer;
}

.vs__dropdown-option--highlight {
	background: #5897fb;
	color: #fff;
}

.vs__dropdown-option--disabled {
	background: inherit;
	color: #53565a;
}

.vs__dropdown-option--disabled:hover {
	cursor: inherit;
}

.vs__selected {
	display: flex;
	align-items: center;
	background-color: #f0f0f0;
	border: 1px solid rgba(60, 60, 60, 0.26);
	border-radius: 4px;
	//color: #333;
	color: #003da5;
	line-height: 1.4;
	margin: 4px 2px 0;
	padding: 0 0.25em;
}

.vs__deselect {
	display: inline-flex;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-left: 4px;
	padding: 0;
	border: 0;
	cursor: pointer;
	background: none;
	fill: #53565a;
	text-shadow: 0 1px 0 #fff;
}

.vs--single .vs__selected {
	background-color: transparent;
	border-color: transparent;
}

.vs--single.vs--open .vs__selected {
	position: absolute;
	opacity: 0.4;
}

.vs--single.vs--searching .vs__selected {
	display: none;
}

.vs__search::-webkit-search-cancel-button {
	display: none;
}

.vs__search::-ms-clear,
.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration {
	display: none;
}

.vs__search,
.vs__search:focus {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: 1.4;
	font-size: 1em;
	border: 1px solid transparent;
	border-left: none;
	outline: none;
	margin: 4px 0 0;
	padding: 0 7px;
	background: none;
	box-shadow: none;
	width: 0;
	max-width: 100%;
	flex-grow: 1;
}

.vs__search::-webkit-input-placeholder {
	color: inherit;
}

.vs__search::-moz-placeholder {
	color: inherit;
}

.vs__search:-ms-input-placeholder {
	color: inherit;
}

.vs__search::-ms-input-placeholder {
	color: inherit;
}

.vs__search::placeholder {
	color: inherit;
}

.vs--unsearchable .vs__search {
	opacity: 1;
}

.vs--unsearchable .vs__search:hover {
	cursor: pointer;
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
	opacity: 0.2;
}

.vs__spinner {
	align-self: center;
	opacity: 0;
	font-size: 5px;
	text-indent: -9999em;
	overflow: hidden;
	border: 0.9em solid hsla(0, 0%, 39.2%, 0.1);
	border-left-color: rgba(60, 60, 60, 0.45);
	transform: translateZ(0);
	-webkit-animation: vSelectSpinner 1.1s linear infinite;
	animation: vSelectSpinner 1.1s linear infinite;
	transition: opacity 0.1s;
}

.vs__spinner,
.vs__spinner:after {
	border-radius: 50%;
	width: 5em;
	height: 5em;
}

.vs--loading .vs__spinner {
	opacity: 1;
}

.vs--disabled .vs__clear,
.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
	cursor: not-allowed;
	// background-color: #f8f8f8;
	text-transform: capitalize;
	opacity: 0.5;
	color: #53565A;
}

// ________________________________________________________
// Select
// ________________________________________________________
// ________________________________________________________
// Icons
// ________________________________________________________
.icon-onco_cloud:before {
	content: url('./assets/icons/onco_cloud.svg');
}

.icon-onco_plug:before {
	content: url('./assets/icons/onco_plug.svg');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: none;
	-webkit-text-fill-color: inherit;
	box-shadow: transparent;
	-webkit-box-shadow: transparent;
	transition: background-color 5000s ease-in-out 0s;
}

.lh-100 {
	line-height: 100%;
}

// ________________________________________________________
// Icons
// ________________________________________________________
@media (min-width: 768px) {
	.btn-md-inline {
		display: inline-block;
		width: auto;
		margin-top: 0 !important;
	}
	.btn-cta {
		height: 5rem;
		min-width: 236px;
		font-size: 1.8rem !important;
	}
	.w-md-25 {
		width: 25% !important;
	}
	.w-md-50 {
		width: 50% !important;
	}
	.w-md-75 {
		width: 75% !important;
	}
	.w-md-85 {
		width: 85% !important;
	}
	.w-md-100 {
		width: 100% !important;
	}
	.text-md-normal {
		font-size: 1.6rem !important;
	}
	.fill-md-none {
		flex: none !important;
	}
}

@media (min-width: 992px) {
	.btn-lg-inline {
		display: inline-block;
		width: auto;
		margin-top: 0 !important;
	}
	.btn-cta {
		height: 6rem;
		font-size: 1.6rem !important;
	}
	.w-lg-25 {
		width: 25% !important;
	}
	.w-lg-50 {
		width: 50% !important;
	}
	.w-lg-75 {
		width: 75% !important;
	}
	.w-lg-100 {
		width: 100% !important;
	}
	.text-lg-normal {
		font-size: 1.6rem !important;
	}
	.fill-lg-none {
		flex: none !important;
	}
}

@media (min-width: 1200px) {
	.btn-xl-inline {
		display: inline-block;
		width: auto;
	}
	.btn-cta {
		height: 6rem;
		font-size: 1.6rem !important;
	}
	.w-xl-50 {
		width: 50% !important;
	}
	.text-xl-normal {
		font-size: 1.6rem !important;
	}

	.fill-xl-none {
		flex: none !important;
	}
}

@import 'button';
