<template>
  <div id="cotizador-ap">
    <header-component />
    <content-component />
    <footer-component />
  </div>
</template>

<script>
import HeaderComponent from '../src/layouts/Header';
import ContentComponent from '../src/layouts/Content';
import FooterComponent from '../src/layouts/Footer';

export default {
  name: 'App',
  components: {
    HeaderComponent,
    ContentComponent,
    FooterComponent,
  },
  mounted() {
    this.setSeoTags();
  },
  methods: {
    setSeoTags() {
      /* Meta Tags */
      const metaAuthor = document.getElementById('metaAuthor');
      const metaKeywords = document.getElementById('metaKeywords');

      if (metaAuthor && metaKeywords) {
        metaAuthor.content = 'Consorcio';
        metaKeywords.content = 'contratar seguro de accidentes online, seguro de accidentes online, cotizar seguro de accidentes, contratar seguro de accidentes, seguros consorcio, consorcio';
      }

      /* Link Canonical */
      const linkCanonical = document.createElement('link');

      linkCanonical.rel = 'canonical';
      linkCanonical.href = 'https://web.consorcio.cl/sitio/seguro-accidentes-personales/contratacion';

      document.head.appendChild(linkCanonical);
    },
  }
};
</script>
<style lang="scss">
@import "./assets/main.scss";
</style>
