<template>
  <main
    id="main-ap"
    :class="[errorPage ? 'pt-error' : '']">
    <router-view />
  </main>
</template>

<script>
/* Utils */
import { mapState } from 'vuex';

export default {
  name: 'Content',
  computed: {
    ...mapState(['errorPage']),
  },
  watch: {
    $route(to, from) {
      const toDepth = to.path.split('/').length;
      const fromDepth = from.path.split('/').length;
      this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left';
    },
  },
  beforeRouteUpdate(to, from, next) {
    const toDepth = to.path.split('/').length;
    const fromDepth = from.path.split('/').length;
    this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left';
    next();
  },
};
</script>

<style scoped>
#main-ap {
  padding-top: 3.2rem;
  padding-bottom: 7.2rem;
}
.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

@media (min-width: 768px) {
  #main-ap {
    padding-top: 4.8rem;
    padding-bottom: 11.2rem;
  }

  .pt-error {
    padding-top: 10.3rem !important;
  }
}
</style>
