<template>
  <footer
    id="footer"
    class="pt-footer bg-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12">
          <p class="disclaimer m-0 text-justify">
            La Compañía de Seguros de Vida Consorcio Nacional de Seguros S.A. se encuentra
            adherida al Código de Autorregulación de las Compañías de Seguros y está sujeta al
            Compendio de Buenas Prácticas Corporativas, que contiene un conjunto de normas
            destinadas a promover una adecuada relación de las compañías de seguros con sus
            clientes. Copia de este Compendio se encuentra en la página web
            <a href="https://www.aach.cl">www.aach.cl</a>. Asimismo, ha aceptado la intervención
            del Defensor del Asegurado cuando los clientes le presenten reclamos en relación a
            los contratos celebrados con ella. Los clientes pueden presentar sus reclamos ante
            el Defensor del Asegurado utilizando los formularios disponibles en las oficinas de
            la Compañía de Seguros de Vida Consorcio Nacional de Seguros S.A. o a través de la
            página web <a href="www.ddachile.cl">www.ddachile.cl</a>.
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style scoped>
.bg-footer {
  background-color: #e9ecef;
}

.disclaimer a {
  color: #53565a;
}
.disclaimer {
  padding: 3rem 0;
  font-size: 1.6rem;
}

.letter-space {
  letter-spacing: 3px;
}

.footer-link a {
  color: #fff;
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .footer-link a {
    color: #fff;
    font-size: 1.2rem !important;
  }
  .disclaimer {
    font-size: 1.2rem;
    padding: 3rem 0;
  }
}
@media (min-width: 992px) {
  .disclaimer {
    font-size: 1.4rem;
  }
}
</style>
