<template>
  <header>
    <!-- Desktop -->
    <div class="d-none d-md-block">
      <div class="fixed-top">
        <navbar-component :navbar-info="navbarInfo" />
        <stepper-component v-if="!errorPage" />
      </div>
      <banner-titulo
        v-if="!errorPage"
        :bg-banner="'bg-light'"
        :banner-info="bannerInfo"
        class="pt-75 pt-lg-130 bg-white"
      />
    </div>
    <!-- Mobile -->
    <div class="d-block d-md-none">
      <!-- Título Seguro -->
      <navbar-component
        :navbar-info="navbarInfo"
        class="fixed-top" />
      <banner-titulo
        v-if="!errorPage"
        :bg-banner="'bg-light'"
        :banner-info="bannerInfo"
        style="margin-top: 110px;"/>
      <stepper-component
        v-if="!errorPage && !isExito"
        id="mobileFixedBar" />
      <back-button
        v-if="!errorPage && !isExito"
        :text="'Volver'"
        class="d-block px-4 py-2"
      />
    </div>
  </header>
</template>

<script>
/* Utils */
import { mapState } from 'vuex';
/* Components */
import NavbarComponent from '../layouts/Navbar';
import StepperComponent from './Stepper';
import BannerTitulo from '../components/BannerTitulo';
import BackButton from '../partials/BackButton';

export default {
  name: 'Header',
  components: {
    StepperComponent,
    BannerTitulo,
    BackButton,
    NavbarComponent,
  },
  data: () => ({}),
  computed: {
    ...mapState(['productName', 'errorPage']),
    navbarInfo() {
      return {
        title: this.productName,
        logo:
            'https://consorcio.modyocdn.com/uploads/2e91aca7-1711-4534-9bd0-8aea97d877a1/original/apv-logo-blanco.svg',
        altLogo: 'Logo de Consorcio',
      };
    },
    bannerInfo() {
      return {
        title: `${this.productName}`,
        logo:
            'https://consorcio.modyocdn.com/uploads/f1f4b60f-3903-4017-a267-ef85483f5ace/original/ap-blue-logo.svg',
        altLogo: `Logo ${this.productName}`,
      };
    },
    isExito() {
      return this.$route.path === '/exito';
    },
  },
  created() {
    document.addEventListener('scroll', this.handleScroll);
  },
  mounted() {
    this.scrollFunction();
  },
  destroyed() {
    document.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll() {
      window.onscroll = this.scrollFunction();
    },
    scrollFunction() {
      if (
        document.getElementById('mobileFixedBar') &&
          document
            .getElementById('mobileFixedBar')
            .classList.contains('top-50') &&
          document.body.scrollTop < 90
      ) {
        document.getElementById('mobileFixedBar').classList.remove('top-50');
      }
      if (document.getElementById('mobileFixedBar')) {
        if (
          document.body.scrollTop > 110 ||
            document.documentElement.scrollTop > 110
        ) {
          document.getElementById('mobileFixedBar').className = 'top-50';
        }
      }
    },
  },
};
</script>

<style scoped>
.sticky-offset {
  top: 55px;
}

.top-50 {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 3;
}

.top-60 {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
.shadow {
  -webkit-box-shadow: 0px 1px 9px 0px rgba(186, 184, 186, 0.295) !important;
  -moz-box-shadow: 0px 1px 9px 0px rgba(186, 184, 186, 0.295) !important;
  box-shadow: 0px 1px 9px 0px rgba(186, 184, 186, 0.295) !important;
}

.pt-75 {
  padding-top: 75px;
}

@media (min-width: 992px)  {
  .pt-lg-130 {
  padding-top: 175px;
}
}
</style>
