<template>
  <nav class="navbar navbar-dark bg-primary p-0 px-md-5 px-2">
    <a
        class="navbar-brand"
        href="https://www.consorcio.cl/seguros">
      <img
          :src="navbarInfo.logo"
          :alt="navbarInfo.altLogo"
          class="logo"
      >
    </a>
    <h3 class="brand-name mb-0 d-none d-md-inline">{{ navbarInfo.title }}</h3>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  props: {
    navbarInfo: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
.navbar {
  height: 55px;
}

.logo {
  width: 145px;
}

.pl-6 {
  padding-left: 5.6rem !important;
}
.brand-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #ffffff;
}
</style>
