<template>
  <div class="bg-light">
    <!-- Desktop -->
    <div class="container">
      <div class="row">
        <div
          class="d-none d-md-block col-md-12 col-xl-10">
          <div
            class="row pasos no-gutters d-flex align-items-start justify-content-center pb-3 pt-2"
          >
            <div
              v-for="(paso, index) in pasos"
              :key="`step-${index}`"
              :class="getClass(index + 1)"
              class="col"
            >
              <router-link :to="`paso-${index + 1}`">
                <p class="m-0 pb-3 text-center text-smaller">
                  <span class="font-weight-semibold font-18 pr-1">{{
                    index + 1
                  }}</span>
                  <span class="d-none d-lg-inline">{{ paso.nameLg }}</span>
                  <span class="d-lg-none">{{ paso.nameMd }}</span>
                </p>
              </router-link>
              <i
                :class="getCheckIcon(index + 1)"
                class="pasos__circle rounded-circle" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile -->
    <div class="d-flex mx-auto px-4 py-2 d-md-none d-inline flex-column bg-light">
      <div class="d-flex flex-row align-items-center justify-content-between">
        <div>
          <p class="font-weight-bold text-gray font-18 lh-100 mb-1">{{ pasosText[activeStep] }}</p>
          <p
            v-if="activeStep < 5 "
            class="text-small text-light-gray mb-0 font-weight-normal">
            Siguiente paso:
            <strong>{{ pasosText[activeStep+1] }}</strong>
          </p>
        </div>
        <div>
          <vue-circle
            ref="myUniqueID"
            :progress.sync="activeStepProgress"
            :size="50"
            :reverse="false"
            :fill="fill"
            :animation-start-value="0.0"
            :start-angle="-20"
            :thickness="7"
            :show-percent="false"
            line-cap="round"
            empty-fill="rgba(0, 0, 0, .1)"
            insert-mode="append"
            @vue-circle-progress="progress"
            @vue-circle-end="progress_end"
          >
            <p class="activeStep text-center mb-0">
              <strong class="text-primary">{{ activeStep }}</strong> de 5
            </p>
          </vue-circle>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';
import VueCircle from 'vue2-circle-progress';
import BackButton from '../partials/BackButton';

export default {
  name: 'Stepper',
  components: {
    VueCircle,
    BackButton,
  },
  data: () => ({
    pasosText: {
      1: 'Datos personales',
      2: 'Opciones de Seguros',
      3: 'Datos de Contratación',
      4: 'Datos de Pago',
      5: 'Propuesta',
    },
    pasos: [
      { nameLg: 'Datos Personales', nameMd: 'Datos' },
      { nameLg: 'Opciones de Seguros', nameMd: 'Opciones' },
      { nameLg: 'Datos de Contratación', nameMd: 'Contratación' },
      { nameLg: 'Medios de Pago', nameMd: 'Pago' },
      { nameLg: 'Propuesta', nameMd: 'Propuesta' },
    ],
    fill: { color: '#84BD00' },
  }),
  computed: {
    ...mapState(['nextStepText']),
    activeStep() {
      const step = this.$route.path.split('/')[1];
      return Number(step.split('-')[1]);
    },
    activeStepProgress() {
      return this.activeStep * 20;
    },
  },
  watch: {
    activeStep() {
      this.$refs.myUniqueID.updateProgress(this.activeStepProgress);
    },
  },
  methods: {
    getClass(index) {
      return [
        index < this.activeStep || this.isExito ? 'visited' : 'notVisited',
        Number(this.activeStep) === index ? 'activo' : '',
      ];
    },
    getCheckIcon(index) {
      return [
        index < this.activeStep || this.isExito ? 'la la-check' : '',
      ];
    },
    progress(event, progress, stepValue) {
    },
    progress_end(event) {
    },
  },
};
</script>
<style>
  .activeStep {
    font-size: .9rem;
    padding-bottom: .5rem;
  }

  .percent-text {
    display: none;
  }

  .pasos > div:after {
    content: "";
    position: absolute;
    display: block;
    top: 42px;
    height: 2px;
    width: 100%;
    z-index: 0;
    background: #809ed2;
  }
  .pasos > div:before {
    content: "";
    position: absolute;
    display: block;
    top: 42px;
    height: 2px;
    width: 0;
    z-index: 1;
  }

  .pasos > div.activo:before {
    background: #84bd00;
  }

  .pasos > div.visited:after {
    background: #84bd00;
  }

  .pasos > div::before {
    background: #84bd00;
  }

  .pasos>div.visited .pasos__circle {
    background: #84bd00;
    border-color: #84bd00;
  }

  .pasos > div.visited p {
    color: #84bd00;
  }

  .pasos > div.notVisited p {
    color: #809ed2;
  }

  .pasos > div.activo p {
    color: #003DA5;
  }

  .pasos > div.notVisited .la-check {
    border: 2px solid #809ed2;
    background: white;
    font-size: 0;
  }

  .font-18 {
    font-size: 1.8rem;
  }

  .la-check {
    color: white;
    font-size: .8rem;
    padding: .1rem .2rem;
  }
</style>
