<template>
  <div
    ref="stepLayout"
    class="container"
  >
    <!-- Layout views -->
    <template v-if="!btnFalse">
      <template v-if="title">
        <title-partial
          :title="title"
          :subtitle="subtitle" />
      </template>
    </template>
    <template v-if="isLoading">
      <div class="row">
        <div class="col-12 col-md-6">
          <slot name="skeleton" />
        </div>
      </div>
    </template>
    <template v-else>
      <slot name="content" />
    </template>
    <template v-if="!isLoading">
      <!-- Botón Continuar -->
      <slot
        v-if="!btnFalse"
        name="btnSlot">
        <div class="row">
          <div :class="btnCol">
            <div class="text-center text-md-right pt-48 mx-md-0 mx-5">
              <vue-recaptcha
                :load-recaptcha-script="true"
                :sitekey="publicKey"
                @verify="onVerifyCAPTCHA">
                <button
                  :class="[disabledBtn ? 'disabled': '']"
                  class="btn btn-success btn-cta btn-block btn-md-inline"
                >
                  {{ buttonLabel }}
                </button>
              </vue-recaptcha>
            </div>
          </div>
        </div>
      </slot>
    </template>
  </div>
</template>
<script>
import VueRecaptcha from 'vue-recaptcha';
import { mapState } from 'vuex';
// eslint-disable-next-line vue/require-default-prop
import TitlePartial from '../partials/TitlePartial';

export default {
  name: 'PasoLayout',
  components: {
    TitlePartial,
    VueRecaptcha,
  },
  props: {
    disabledBtn: {
      type: Boolean,
      required: false,
      default: false,
    },
    btnLink: {
      type: Boolean,
      required: false,
      default: false,
    },
    btnFalse: {
      type: Boolean,
      required: false,
      default: false,
    },
    buttonLabel: {
      type: String,
      required: false,
      default: 'Continuar',
    },
    title: {
      type: String,
      required: false,
      default: '',
    },
    subtitle: {
      type: String,
      required: false,
      default: '',
    },
    btnCol: {
      type: String,
      required: false,
      default: 'col-12 col-md-6',
    },
  },
  computed: {
    ...mapState(['publicKey']),
  },
  methods: {
    scrollTop() {
      this.$refs.stepLayout.scrollTop = 0;
      window.scrollTo(0, 0);
    },
    onClickHandler() {
      if (!this.disabledBtn) {
        this.$emit('on-click-handler');
      }
    },
    onVerifyCAPTCHA(res) {
      if (res) {
        this.SET_VALUE({name: 'token_captcha', value: res });
        this.onClickHandler();
      }
    },
  },
};
</script>
<style lang="scss">
.container {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
</style>
